<template>
    <div class="st-app-dialog st-dialog-login">
        <div class="st-dialog-login-modes">
            <a v-on:click="setDialogMode('login')" v-bind:class="{'is-active': dialogMode === 'login'}">Sign In</a>
            <a v-on:click="setDialogMode('signup')" v-bind:class="{'is-active': dialogMode === 'signup'}">Sign Up</a>
            <a v-on:click="setDialogMode('forgot')" v-bind:class="{'is-active': dialogMode === 'forgot'}">Forgot
                Password</a>
        </div>
        <form class="st-login-form">
            <input type="text"
                   v-show="dialogMode === 'signup'"
                   v-bind:placeholder="displayNamePh"
                   v-model="displayName"
                   name="dName"
                   :class="{'nb-invalid-input' : errors.has('dName')}"
                   v-validate="{ required: dialogMode === 'signup' }"/>
            <input type="email"
                   v-bind:placeholder="namePh"
                   v-model="email"
                   name="email"
                   :class="{'nb-invalid-input' : errors.has('email')}"
                   v-validate="{ email: true, required: true }"/>
            <input type="password"
                   v-bind:placeholder="pwPh"
                   v-if="dialogMode !== 'forgot'"
                   v-model="password"
                   name="password"
                   :class="{'nb-invalid-input' : errors.has('password')}"
                   v-validate="{ required: true, min: 6 }"/>
            <input type="password"
                   v-bind:placeholder="pwPh"
                   v-if="dialogMode === 'signup'"
                   v-model="repeat_pw"
                   name="repeat_pw"
                   :class="{'nb-invalid-input' : errors.has('repeat_pw')}"
                   v-validate="{ is: password, required: true }"/>
            <div v-if="dialogMode === 'signup'">
                <nb-picker class="nb-piloting-type-picker"
                           header="Account Type"
                           v-model="account_type"
                           name="account_type"
                           v-bind:pdata="registration_types"
                           :class="{'nb-invalid-picker' : errors.has('account_type')}"
                           v-validate="'required'"></nb-picker>
            </div>
        </form>
        <div class="st-dialog-footer st-buttons-only">
            <button class="nb-cancel-btn" @click="$emit('close')">Cancel</button>
            <button class="nb-blue-btn" @click="send()">Send</button>
        </div>
        <nb-preloader v-bind:message="preloader_text" v-if="showLoginSpinner"></nb-preloader>
    </div>
</template>

<script>
    import Authentication from '../firebase/authentication';
    import Notifications from '../notifications/notifications';
    import {Constants} from '../globals/constants';
    import {mapState, mapMutations} from 'vuex'

    export default {
        name: "LoginDialog",
        data() {
            return {
                preloader_text: "",
                action_text_login: "Signing In...",
                action_text_signup: "Signing Up...",
                action_text_forgot: "Sending reset password to your email...",
                showLoginSpinner: false,
                displayNamePh: "Display Name",
                namePh: "Email",
                pwPh: "Password (minimum 6 symbols)",
                displayName: "",
                email: "",
                password: "",
                repeat_pw: "",
                dialogMode: "login",
                account_type: "",
                registration_types: [
                    {code: "PILOT", text: "Pilot"},
                    {code: "COMPANY", text: "Company"}
                ]
            }
        },
        created() {
            this.preloader_text = this.action_text_login;
        },
        computed: {
            ...mapState(["user_details_firebase_ref"])
        },
        methods: {
            ...mapMutations(["setVuexUserDetailsReference"]),
            send() {
                this.$validator.validate().then((isValid) => {
                    if (isValid) {
                        switch (this.dialogMode) {
                            case "login":
                                this.login();
                                break;
                            case "signup":
                                this.signUp();
                                break;
                            case "forgot":
                                this.resetPassword();
                                break;
                        }
                    } else {
                        Notifications.showWarning(this, "Attention!", "Please fill correctly all required fields");
                    }
                });
            },
            signUp() {
                this.showLoginSpinner = true;
                Authentication.signup(this.email, this.password).then((signUpData) => {
                    Authentication.sendUserEmailVerification();
                    this.sendNewUserDataToFirebase(signUpData);
                }, (error) => {
                    this.showLoginSpinner = false;
                    Notifications.showError(this, "SignUp Failed", error.message);
                });
            },

            login() {
                this.showLoginSpinner = true;
                const component = this;
                Authentication.login(this.email, this.password).then(() => {
                    component.$emit('close');
                }, (error) => {
                    this.showLoginSpinner = false;
                    Notifications.showError(this, 'Login Failed', error.message);
                });
            },
            resetPassword() {
                const component = this;
                Authentication.sendResetPasswordRequest(this.email).then(() => {
                    Notifications.showSuccess(this, 'Reset Password', 'Reset password letter was sent to your e-mail');
                    component.$emit('close');
                }, (error) => {
                    this.showLoginSpinner = false;
                    Notifications.showError(this, 'Reset Password Failed', error.message);
                });
            },
            setDialogMode(mode) {
                this.preloader_text = this["action_text_" + mode];
                this.dialogMode = mode;
            },
            /**
             * Sending basic user data to firebase after user creates his account
             * @param signUpData - signUp data object.
             * Vlad. 14/11/18
             */
            sendNewUserDataToFirebase(signUpData) {
                const component = this;
                this.setVuexUserDetailsReference(signUpData.user.uid + '/' + Constants.fire_user_details);
                Authentication.currentUser().then(function (user) {
                    // Updating user displayName in firebase user object
                    user.updateProfile({
                        displayName: component.displayName
                    });
                    // creating user details object
                    component.user_details_firebase_ref.ref().set({
                        account_type: component.account_type,
                        account_id: signUpData.user.uid,
                        account_email: signUpData.user.email,
                        is_blocked: false
                    }).then(function () {
                        component.$emit('close');
                    });
                });
            }
        }
    };
</script>

<style lang="sass">
    @import "../styles/presets.sass"
    .st-dialog-login
        min-height: 190px
        +setGrid(null, null, 30px 1fr 30px, 10px, "rows")
        padding: 20px 40px !important
        background: $main_blue_dark url("../styles/images/cloud.png") no-repeat bottom
        background-size: contain
        position: relative
        .nb-input-component h4
            color: white

    .st-login-form
        +setGridAuto(auto, 10px, "rows")

    .st-dialog-login-modes
        +setGridAuto(minmax(auto, 500px), 10px, "columns")
        align-content: center

    a
        color: white
        display: flex
        align-items: center
        justify-content: flex-start
        height: 30px
        &.is-active
            font-weight: bold
</style>