<template>
    <div class="nb-logbook-content">
        <div class="nb-logbook-links">
            <router-link v-for="link in logbook_tabs" v-bind:to="link.route" v-bind:key="link.name">{{link.name}}
            </router-link>
        </div>
        <router-view class="nb-logbook-views"/>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex';
    import Authentication from "../../../firebase/authentication";
    import {Constants} from "../../../globals/constants";

    export default {
        name: "LogBook",
        data() {
            return {}
        },
        created() {
            /**
             * This function initiates Firebase references related to logbook
             * Vlad. 02/12/18
             */
            Authentication.auth().onAuthStateChanged(currentUser => {
                this.setVuexLogbookReference(currentUser.uid + Constants.fire_log_book);
            });
        },
        methods: {
            ...mapMutations(["setVuexLogbookReference"])
        },
        computed: {
            logbook_tabs: function () {
                return [
                    {name: this.$t("message.add_log"), route: "/profile/logbook/add-flight"},
                    {name: this.$t("message.my_logs"), route: "/profile/logbook/my-logs"}
                ]
            }
        }
    }
</script>

<style lang="sass">
    @import "../../../styles/presets.sass"

    .nb-logbook-views
        background: white
        border: solid 1px $dark_grey
        padding: 10px 0 5px 15px

    .nb-logbook-links
        display: flex
        align-items: center
        a
            padding: 0 15px
            height: 100%
            z-index: 1
            color: $main_black
            border: solid 1px transparent
            &.router-link-active
                background: white
                border: solid 1px $dark_grey
                border-bottom: solid 1px white
                color: $main_blue_dark

    .nb-logbook-content
        overflow: hidden
        padding: 5px 5px 5px 0
        +setGrid(null, null, 35px 1fr, 0, "rows")
</style>