<template>
    <div class="nb-view-area nb-details-view">
        <div class="nb-view-toolbar">
            <button class="nb-green-btn" v-bind:disabled="async_request_sent"
                    v-on:click="saveDetails()"
                    v-html="$t('message.save_details')"></button>
        </div>
        <div class="nb-scrollable">
            <h2 class="nb-section-header" v-html="$t('message.aircraft')"></h2>
            <div class="nb-inputs-quatro-grid">
                <nb-input v-bind:header="$t('message.f_name')" v-model="pilot.first_name"></nb-input>
                <nb-input v-bind:header="$t('message.l_name')" v-model="pilot.last_name"></nb-input>
                <nb-datepicker v-bind:header="$t('message.date_of_birth')" v-model="pilot.birth_date"></nb-datepicker>
                <nb-nat-picker v-model="pilot.nationality"></nb-nat-picker>
                <nb-country-picker v-bind:header="$t('message.place_of_birth')"
                                   v-model="pilot.place_of_birth"></nb-country-picker>
            </div>
            <h2 class="nb-section-header" v-html="$t('message.prof_details')"></h2>
            <div class="nb-inputs-quatro-grid">
                <nb-picker v-bind:header="$t('message.license_type')" v-bind:pdata="license_options"
                           v-model="pilot.license_type"></nb-picker>
                <nb-country-picker v-bind:header="$t('message.country_of_issue')"
                                   v-model="pilot.country_of_issue"></nb-country-picker>
                <nb-picker v-bind:header="$t('message.medical')" v-bind:pdata="medical_options"
                           v-model="pilot.medical"></nb-picker>
                <div class="nb-input-component">
                    <h4>{{$t('message.total_flight_time')}}</h4>
                    <span class="nb-form-val-display" v-bind:class="highlightInput">{{pilot.total_flight_time}}</span>
                </div>
            </div>
            <div class="nb-ratings-block">
                <h3 class="nb-subsection-header" v-html="$t('message.ratings')"></h3>
                <AirplaneTypeCheckboxes v-bind:data-object="pilot.ratings"></AirplaneTypeCheckboxes>
            </div>
            <h3 class="nb-subsection-header" v-html="$t('message.experience')"></h3>
            <AirplanePicker v-bind:plane-model="experience_model" component-type="pilot-experience"></AirplanePicker>
            <div class="nb-add-experience-btn-frame">
                <button class="nb-blue-btn"
                        v-html="$t('message.add')"
                        @click="addExperience()"
                        :disabled="invalidExperienceFields"></button>
            </div>
            <ul class="nb-list-of-flight-experience">
                <li v-for="exp in pilot.experience">
                    <span>{{exp.airplane_type_text}}</span>
                    <span>{{exp.airplane_manufacturer_text}}</span>
                    <span>{{exp.airplane_model_text}}</span>
                    <div class="nb-exp-hours-section">
                        <span>{{exp.airplane_flight_hours}}</span>
                        <DeleteButton v-bind:method="removeExperience" v-bind:uuid="exp.uuid"></DeleteButton>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {uuid} from 'vue-uuid'
    import Connection from "../../../firebase/connection";
    import Authentication from "../../../firebase/authentication";
    import Notifications from "../../../notifications/notifications";
    import AirplaneTypeCheckboxes from "../../../components/ui-components/nb-airplane-type-checkboxes"
    import AirplanePicker from "../../../components/ui-components/nb-airplane-picker"
    import DeleteButton from "../../../components/ui-components/nb-row-delete-btn"
    import {Constants} from "../../../globals/constants";
    import AppTools from "../../../globals/CommonTools";
    import {mapState, mapMutations} from "vuex";

    export default {
        name: "PersonalDetails",
        components: {
            AirplaneTypeCheckboxes,
            DeleteButton,
            AirplanePicker
        },
        data() {
            return {
                highlight: false,
                current_user_id: null,
                pilot: {
                    first_name: "",
                    last_name: "",
                    birth_date: "",
                    nationality: "",
                    place_of_birth: "",
                    license_type: "",
                    country_of_issue: "",
                    total_flight_time: 0,
                    medical: "",
                    experience: [],
                    ratings: {
                        single_engine_piston: "",
                        multi_engine_piston: "",
                        turboprop: "",
                        jet_airplane: ""
                    },
                },
                license_options: [
                    {code: "CPL", text: "CPL"},
                    {code: "ALTP", text: "ALTP"}
                ],
                medical_options: [
                    {code: "CLASS_1", text: "Class 1"},
                    {code: "CLASS_2", text: "Class 2"},
                    {code: "CLASS_3", text: "Class 3"}
                ],
                airplane_flight_hours: "0",
                experience_model: {
                    airplane_type: null,
                    airplane_manufacturer: null,
                    airplane_model: null,
                    flight_hours: null
                }
            }
        },
        created() {
            const self = this;

            Authentication.auth().onAuthStateChanged(currentUser => {
                if (currentUser) {
                    self.current_user_id = currentUser.uid;
                    self.initPilotDetailsDb();
                }
            });

        },
        computed: {
            ...mapState(["async_request_sent", "airplanes_data"]),
            highlightInput: function () {
                return {
                    "nb-highlighted-green": this.highlight
                }
            },
            invalidExperienceFields: function () {
                return !this.experience_model.flight_hours ||
                    this.experience_model.flight_hours === "0"
            }
        },
        methods: {
            ...mapMutations(["setVuexAsyncRequestSentFlag"]),
            /**
             * This function saves edited Pilot/Company details in firebase
             * Vlad.
             */
            saveDetails() {
                this.setVuexAsyncRequestSentFlag(true);
                this.personalData.ref().update(this.pilot).then(() => {
                    this.setVuexAsyncRequestSentFlag(false);
                    Notifications.showSuccess(this, "", this.$t("message.details_saved"))
                });
            },
            /**
             * This function adds new experience details to array of flight experiences
             * Vlad. 26/11/18
             */
            addExperience() {
                this.pilot.experience.push({
                    uuid: uuid.v1(),
                    airplane_type_id: this.experience_model.airplane_type,
                    airplane_type_text: AppTools.getReadablePlaneValues(this.airplanes_data["airplanes_types"], this.experience_model.airplane_type),
                    airplane_manufacturer_id: this.experience_model.airplane_manufacturer,
                    airplane_manufacturer_text: AppTools.getReadablePlaneValues(this.airplanes_data[this.experience_model.airplane_type], this.experience_model.airplane_manufacturer),
                    airplane_model_id: this.experience_model.airplane_model,
                    airplane_model_text: AppTools.getReadablePlaneValues(this.airplanes_data[this.experience_model.airplane_manufacturer], this.experience_model.airplane_model),
                    airplane_flight_hours: this.experience_model.flight_hours
                });
                console.log(this.pilot.experience);
                this.airplane_flight_hours = "0";
                this.calcTotalFlightTime();

            },
            /**
             * This function deleted experience from array of experiences by id
             * received from delete button.
             * Vlad. 28/11/18
             */
            removeExperience(rowId) {
                const index = this.pilot.experience.findIndex((obj) => obj.uuid === rowId);
                if (index !== null && index > -1) {
                    this.pilot.experience.splice(index, 1);
                    this.calcTotalFlightTime();
                }
            },
            /**
             * This function calculates total flight time according to flight
             * experience data.
             * Vlad. 27/11/18
             */
            calcTotalFlightTime() {
                let time = 0;
                this.pilot.experience.map((item) => {
                    time = time + parseInt(item.airplane_flight_hours);
                });
                this.pilot.total_flight_time = time;
                this.highlight = true;
                setTimeout(() => {
                    this.highlight = false;
                }, 1200);
            },
            /**
             * This function initiates pilot details DB if/when current_user_id
             * is available.
             * Vlad. 23/11/18
             */
            initPilotDetailsDb() {
                this.personalData = new Connection(this.current_user_id + Constants.fire_personal_data);
                this.personalData.ref().once("value").then(snap => {
                    if (snap.val()) {
                        Object.assign(this.pilot, snap.val());
                    }
                });
            },
            /**
             * This function gets the readable string of airplane manufacturer
             * for AIRPLANE BRAND cell in list of pilot experiences
             * @param expItem - object with pilot experience item
             * @returns {*} - String
             * Vlad. 27/11/18
             */
            getTypeString(expItem) {
                // const foundType = this.airplane_type_picker.find(function (manufacturer) {
                //     return manufacturer.code === expItem.airplane_type;
                // });
                // if (foundType) {
                //     return foundType.text;
                // }
            },
        }
    }
</script>

<style lang="sass">
    @import "../../../styles/presets.sass"

    .nb-details-view
        overflow: hidden
        +setGrid(null, null, auto 1fr, 10px, "rows")

    .nb-ratings-block
        margin: 0 0 30px 0

    .nb-ratings-checkboxes
        width: 150px

    .nb-add-experience-btn-frame
        display: flex
        justify-content: flex-end
        margin: 20px 0 0 0

    .nb-list-of-flight-experience
        margin: 20px 0 0 0
        display: flex
        flex-direction: column
        li
            height: 40px
            align-items: center
            border-bottom: solid 1px $dark_grey
            font-size: $small_font
            +setGridAuto(1fr, 10px, "columns")
            +noUserSelect()
        .nb-exp-hours-section
            display: flex
            align-items: center
        button
            margin: 0 0 0 auto

    @media all and (max-width: $tablet_media)
        .nb-inputs-quatro-grid
            grid-template-columns: 1fr 1fr
    @media all and (max-width: $smartphone_media)
        .nb-inputs-quatro-grid
            grid-template-columns: 1fr

</style>