<template>
    <label class="nb-input-component">
        <h4>{{header}}</h4>
        <v-autocomplete :items="airlines"
                        v-model="airline"
                        v-bind:auto-select-one-item="false"
                        :component-item='template'
                        :get-label="getLabel"
                        @change="checkInput"
                        @item-clicked="setAirlineData"
                        @update-items="updateItems">
        </v-autocomplete>
    </label>
</template>

<script>
    import Authentication from "../../../firebase/authentication";
    import {Constants} from "../../../globals/constants";
    import {mapState, mapMutations} from "vuex";
    import PickerRow from "./template-dropdown-row";

    export default {
        name: "nb-airline-picker",
        props: ["header", "method"],
        data() {
            return {
                airlines: [],
                airline: null,
                airline_picker_data: null,
                template: PickerRow
            }
        },
        created() {
            const self = this;
            Authentication.auth().onAuthStateChanged(currentUser => {
                if (currentUser) {
                    self.setVuexAirlinesReference(Constants.fire_airlines_data);
                    self.getAirlinesPickerData();
                }
            });
        },
        computed: {
            ...mapState(["autocomplete_airlines_firebase_ref"]),
        },
        methods: {
            ...mapMutations(["setVuexAirlinesReference"]),
            checkInput(text) {
                if (text.length < 3) {
                    this.clearAirlinesResults();
                }
            },
            /**
             * This function returns text for selected option and shows it in
             * search box
             * Vlad. 13/12/18
             */
            getLabel(airline) {
                if (airline) {
                    return airline.name;
                }
            },
            /**
             * This method is being called when user enters text in autocomplete search box
             * it look for matching results and sets the airlines.
             * Vlad. 13/12/18
             */
            updateItems(searchString) {
                if (searchString) {
                    this.airlines = this.airline_picker_data.filter((airline) => {
                        return airline.name.toLowerCase().includes(searchString.toLowerCase());
                    });
                } else {
                    this.clearAirlinesResults();
                }
            },
            /**
             * This function clears airlines suggestions list and
             * clears selected airline object in parent component.
             * Called when user clears searchbox or updateItems receives empty string
             * Vlad. 13/12/18
             */
            clearAirlinesResults() {
                this.airlines = [];
                this.setAirlineData(null);
            },
            /**
             * This method is being called whe user selects some option from autocomplete
             * suggestions and the calls optional method from parent controller.
             * Vlad. 13/12/18
             */
            setAirlineData(airline) {
                if (this.method) {
                    this.method(airline);
                }
            },
            /**
             * This function adds received airlines data from firebase to
             * airlines picker data
             * Vlad. 11/12/18
             */
            getAirlinesPickerData() {
                this.autocomplete_airlines_firebase_ref.ref().once("value", (snap) => {
                    if (snap.val()) {
                        this.airline_picker_data = snap.val();
                    }
                });
            },
        }

    }
</script>

<style lang="sass">
    @import "../../../styles/presets.sass"
    .v-autocomplete-input-group, .v-autocomplete-input-group input
        display: flex
        flex-grow: 1
        flex-shrink: 0
        height: 42px

    .v-autocomplete-list
        border-left: solid 1px $dark_grey
        border-right: solid 1px $dark_grey
        max-height: 400px
        overflow: auto

</style>