<template>
    <div>
        {{item.name}}
    </div>
</template>

<script>
    export default {
        name: "template-dropdown-row",
        props: {
            item: {required: true},
            searchText: {required: true}
        }
    }
</script>

<style lang="sass">
    @import "../../../styles/presets.sass"

    .v-autocomplete-list-item
        display: flex
        align-items: center
        height: 40px
        border-bottom: solid 1px $dark_grey
        cursor: pointer
        padding: 0 10px
        font-size: $regular_font
        &:hover
            background: $light_grey
</style>