<template>
    <div class="nb-main-app-preloader" v-bind:class="frameClass">
        <div class="nb-main-app-preloader-content">
            <div class="nb-main-app-preloader-text" v-if="message">{{message}}</div>
            <moon-loader v-bind:class="cls"
                         :color="'#3279e8'"
                         :size="40">
            </moon-loader>
        </div>
    </div>
</template>

<script>
    import {MoonLoader} from '@saeris/vue-spinners'

    export default {
        name: "nb-app-preloader",
        props: ["cls", "frameClass", "message"],
        components: {
            MoonLoader
        }
    }
</script>

<style lang="sass" scoped>
    @import "../../styles/presets.sass"

    .nb-main-app-preloader
        position: absolute
        background: white
        display: flex
        width: 100%
        height: 100%
        flex-grow: 1
        align-items: center
        justify-content: center
        z-index: 100
        &.nb-preloader-transparent
            background: rgba(255, 255, 255, 0.9)
    .nb-main-app-preloader-content
        +setGridAuto(auto, 20px, "rows")
        justify-items: center
    .nb-main-app-preloader-text
        color: $main_blue_dark
</style>