<template>
    <div class="nb-quatro-grid nb-airplanes-picker">
        <nb-picker v-bind:header="$t('message.aircraft_type')"
                   v-bind:pdata="airplane_type_picker"
                   v-model="planeModel.airplane_type">
        </nb-picker>
        <nb-picker v-bind:header="$t('message.aircraft_manufacturer')"
                   v-bind:pdata="airplane_brand_picker"
                   v-model="planeModel.airplane_manufacturer">
        </nb-picker>
        <nb-picker v-bind:header="$t('message.aircraft_model')"
                   v-bind:pdata="airplane_model_picker"
                   v-model="planeModel.airplane_model">
        </nb-picker>
        <nb-digits v-if="componentType === 'fleet'"
                   v-bind:header="$t('message.company.fleet_amount')"
                   v-model="planeModel.fleet_units"
                   name="fleet-size"
                   v-validate="'required'"
                   max="3">
        </nb-digits>
        <nb-digits v-if="componentType !== 'fleet'"
                   v-bind:header="$t('message.flight_hours')"
                   v-model="planeModel.flight_hours"
                   name="fleet-size"
                   v-validate="'required'"
                   max="3">
        </nb-digits>
        <nb-preloader frame-class="nb-preloader-transparent" v-if="airplanesSpinner"></nb-preloader>
    </div>
</template>

<script>
    import Authentication from "../../firebase/authentication";
    import {Constants} from "../../globals/constants";
    import {mapState, mapMutations} from "vuex";

    export default {
        name: "nb-airplane-picker",
        props: ["planeModel", "componentType"],
        data() {
            return {
                airplanesSpinner: false
            }
        },
        created() {
            const self = this;
            /**
             * Инициализируем фаербейс таблицу которая поставляет данные
             * о всех летающих средствах. Данные вызываются только идин раз и сохраняются
             * в приложении для последующего пользования.
             * Влад. 19/12/18
             */
            Authentication.auth().onAuthStateChanged(() => {
                self.setVuexAirplanesReference(Constants.fire_airplanes);
                if (!self.airplanes_data) {
                    self.showAirplanesSpinner(true);
                    self.airplanes_data_firebase_ref.ref().once("value").then((snap) => {
                        if (snap.val()) {
                            self.setVuexAirplanesData(snap.val());
                            self.showAirplanesSpinner(false);
                        }
                    });
                }
            });
        },
        computed: {
            ...mapState([
                "airplanes_data_firebase_ref",
                "airplanes_data"
            ]),
            airplane_type_picker: function () {
                const typeData = this.getPickerData("airplanes_types");
                if (typeData) {
                 this.planeModel.airplane_type = typeData[0].code;
                 return typeData;
                }
            },
            airplane_brand_picker: function () {
                const brandData = this.getPickerData(this.planeModel.airplane_type);
                if (brandData) {
                    this.planeModel.airplane_manufacturer = brandData[0].code;
                    return brandData;
                }
            },
            airplane_model_picker: function () {
                const modelData = this.getPickerData(this.planeModel.airplane_manufacturer);
                if (modelData) {
                    this.planeModel.airplane_model = modelData[0].code;
                    return modelData
                }
            }
        },
        methods: {
            ...mapMutations([
                "setVuexAirplanesReference",
                "setVuexAirplanesData"
            ]),
            /**
             * Данная функция достает данные для пикера самолета из нужной ячейки
             * согласно полю которое она получает и возвращает массив с данными
             * @param field - имя ячейки в объекте с данными самолетов которое нужно вернуть.
             * @returns {*}
             * Влад. 19/12/18
             */
            getPickerData(field) {
                if (this.airplanes_data) {
                    return this.airplanes_data[field];
                }
            },
            /**
             * Сеттер прелоадера который выскакивает при подгружении данных о летательных
             * средств с фаербейса.
             * @param val - Boolean
             * Влад. 26/12/18
             */
            showAirplanesSpinner(val) {
                this.airplanesSpinner = val;
            }
        }
    }
</script>
<style lang="sass">
    .nb-airplanes-picker
        position: relative
</style>