<template>
    <div class="nb-checkboxes-vertical-holder nb-ratings-checkboxes">
        <nb-checkbox v-bind:header="$t('message.single_engine_piston')"
                     v-model="dataObject.single_engine_piston"></nb-checkbox>
        <nb-checkbox v-bind:header="$t('message.multi_engine_piston')"
                     v-model="dataObject.multi_engine_piston"></nb-checkbox>
        <nb-checkbox v-bind:header="$t('message.turboprop')"
                     v-model="dataObject.turboprop"></nb-checkbox>
        <nb-checkbox v-bind:header="$t('message.jet_airplane')"
                     v-model="dataObject.jet_airplane"></nb-checkbox>
    </div>
</template>

<script>
    export default {
        name: "nb-airplane-type-checkboxes",
        props: ["dataObject"],
    }
</script>