<template>
    <label class="nb-checkbox-component">
        <input type="checkbox"
               v-bind:checked="value"
               v-on:input="updateValue($event.target.checked)"/>
        <i class="nb-cb-icon"></i>
        <h3>{{header}}</h3>
    </label>
</template>

<script>
    export default {
        name: "nb-checkbox-component",
        props: ["header", "value"],
        methods: {
            updateValue: function (value) {
                this.$emit("input", value)
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    @import "../../styles/icons.sass"

    .nb-checkbox-component
        +setGrid(20px auto, 5px, null, null, "columns")
        align-items: center
        cursor: pointer
        h3
            font-size: $small_font

        .nb-cb-icon
            width: 20px
            height: 20px
            @extend .nb-i-checkbox
            background-size: contain

        input[type=checkbox]
            display: none
            &:checked + .nb-cb-icon
                @extend .nb-i-checkbox-checked
                background-size: contain

</style>