<template>
    <div class="nb-input-component">
        <h4>{{$t('message.currency')}}</h4>
        <label class="nb-select-frame">
            <select v-bind:value="value" v-on:input="updateValue($event.target.value)">
                <option v-for="currency in currency_options" v-bind:key="currency.code" v-once>{{currency.symbol}}</option>
            </select>
        </label>
    </div>
</template>

<script>
    export default {
        name: "nb-currency-picker",
        props: ["value"],
        methods: {
            updateValue: function (value) {
                this.$emit("input", value)
            }
        },
        data() {
            return {
                currency_options: [
                    {code: "EUR", symbol: "€"},
                    {code: "USD", symbol: "$"},
                    {code: "RUB", symbol: "₽"}
                ]
            }
        }
    }
</script>