<template>
    <label class="nb-input-component">
        <h4>{{header}}</h4>
        <input v-bind:placeholder="cPlaceholder"
               type="number"
               v-bind:disabled="disabled"
               v-bind:value="value"
               v-on:input="updateValue($event.target.value)"
               v-on:keypress="checkValidity($event)"/>
    </label>
</template>

<script>
    export default {
        name: "nb-digits-component",
        props: ["header", "value", "max", "placeholder", "disabled"],
        data() {
            return {
                startsWithZero: new RegExp('^0')
            }
        },
        methods: {
            updateValue: function (value) {
                    this.$emit("input", value);
            },
            checkValidity: function (event) {
                event = (event) ? event : window.event;
                let charCode = event.which ? event.which : event.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    event.preventDefault();
                } else {
                    if ((!this.max || !this.value || (this.max && parseInt(this.max) > this.value.length))) {
                        return true;
                    } else {
                        event.preventDefault();
                    }
                }
            }
        },
        computed: {
            cPlaceholder: function () {
                return this.placeholder ? this.placeholder : this.$t("message.digits_only");
            }
        },
    }
</script>