<template>
    <div class="nb-input-component">
        <h4>{{header}}</h4>
        <datepicker :format="dateFormat" v-bind:value="value" v-on:input="updateValue($event)"></datepicker>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: "ui-datepicker-component",
        components: {
            Datepicker
        },
        props: ["header", "value"],
        data() {
            return {
                dateFormat: "dd/MM/yyyy"
            }
        },
        methods: {
            updateValue: function (value) {
                const date = new Date(value);
                this.$emit("input", date.getTime())
            }
        }
    }
</script>

<style lang="sass">
    .vdp-datepicker
        div:first-child, input
            box-sizing: content-box
            display: flex
            flex-grow: 1
</style>