<template>
    <label class="nb-input-component">
        <h4>{{header}}</h4>
        <input type="text"
               v-bind:disabled="disabled"
               v-bind:value="value"
               v-bind:class="addClass"
               v-bind:placeholder="placeholder"
               v-on:input="updateValue($event.target.value)"/>
    </label>
</template>

<script>
    export default {
        name: "nb-input-component",
        props: ["header", "placeholder", "value", "addClass", "toUppercase", "disabled"],
        methods: {
            updateValue: function (value) {
                if (this.toUppercase) {
                    this.$emit("input", value.toUpperCase());
                } else {
                    this.$emit("input", value);
                }
            }
        },
    }
</script>