<template>
    <label class="nb-input-component">
        <h4>{{header}}</h4>
        <input class="nb-form-label" v-bind:value="text" v-bind:placeholder="placeholder" disabled/>
    </label>
</template>

<script>
    export default {
        name: "nb-label-component",
        props: ["header", "text", "placeholder", "disabled"],
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    .nb-form-label
        line-height: 40px
        border: solid 1px $dark_grey
        background: $light_grey
        +ellipsis()
</style>