<template>
    <div class="nb-input-component">
        <h4>{{$t('message.nationality')}}}</h4>
        <label class="nb-select-frame">
            <select v-bind:value="value" v-on:input="updateValue($event.target.value)">
                <option v-for="nationality in nationality_options" v-bind:key="nationality.nationality" v-once>{{nationality.nationality}}</option>
            </select>
        </label>
    </div>
</template>

<script>
    export default {
        name: "nb-nationality-picker",
        props: ["value"],
        methods: {
            updateValue: function (value) {
                this.$emit("input", value)
            }
        },
        data() {
            return {
                nationality_options: [
                    {
                        "alpha_2_code": "AF",
                        "nationality": "Afghan"
                    },
                    {
                        "alpha_2_code": "AX",
                        "nationality": "\u00c5land Island"
                    },
                    {
                        "alpha_2_code": "AL",
                        "nationality": "Albanian"
                    },
                    {
                        "alpha_2_code": "DZ",
                        "nationality": "Algerian"
                    },
                    {
                        "alpha_2_code": "AS",
                        "nationality": "American Samoan"
                    },
                    {
                        "alpha_2_code": "AD",
                        "nationality": "Andorran"
                    },
                    {
                        "alpha_2_code": "AO",
                        "nationality": "Angolan"
                    },
                    {
                        "alpha_2_code": "AI",
                        "nationality": "Anguillan"
                    },
                    {
                        "alpha_2_code": "AQ",
                        "nationality": "Antarctic"
                    },
                    {
                        "alpha_2_code": "AG",
                        "nationality": "Antiguan or Barbudan"
                    },
                    {
                        "alpha_2_code": "AR",
                        "nationality": "Argentine"
                    },
                    {
                        "alpha_2_code": "AM",
                        "nationality": "Armenian"
                    },
                    {
                        "alpha_2_code": "AW",
                        "nationality": "Aruban"
                    },
                    {
                        "alpha_2_code": "AU",
                        "nationality": "Australian"
                    },
                    {
                        "alpha_2_code": "AT",
                        "nationality": "Austrian"
                    },
                    {
                        "alpha_2_code": "AZ",
                        "nationality": "Azerbaijani, Azeri"
                    },
                    {
                        "alpha_2_code": "BS",
                        "nationality": "Bahamian"
                    },
                    {
                        "alpha_2_code": "BH",
                        "nationality": "Bahraini"
                    },
                    {
                        "alpha_2_code": "BD",
                        "nationality": "Bangladeshi"
                    },
                    {
                        "alpha_2_code": "BB",
                        "nationality": "Barbadian"
                    },
                    {
                        "alpha_2_code": "BY",
                        "nationality": "Belarusian"
                    },
                    {
                        "alpha_2_code": "BE",
                        "nationality": "Belgian"
                    },
                    {
                        "alpha_2_code": "BZ",
                        "nationality": "Belizean"
                    },
                    {
                        "alpha_2_code": "BJ",
                        "nationality": "Beninese, Beninois"
                    },
                    {
                        "alpha_2_code": "BM",
                        "nationality": "Bermudian, Bermudan"
                    },
                    {
                        "alpha_2_code": "BT",
                        "nationality": "Bhutanese"
                    },
                    {
                        "alpha_2_code": "BO",
                        "nationality": "Bolivian"
                    },
                    {
                        "alpha_2_code": "BQ",
                        "nationality": "Bonaire"
                    },
                    {
                        "alpha_2_code": "BA",
                        "nationality": "Bosnian or Herzegovinian"
                    },
                    {
                        "alpha_2_code": "BW",
                        "nationality": "Motswana, Botswanan"
                    },
                    {
                        "alpha_2_code": "BV",
                        "nationality": "Bouvet Island"
                    },
                    {
                        "alpha_2_code": "BR",
                        "nationality": "Brazilian"
                    },
                    {
                        "alpha_2_code": "IO",
                        "nationality": "BIOT"
                    },
                    {
                        "alpha_2_code": "BN",
                        "nationality": "Bruneian"
                    },
                    {
                        "alpha_2_code": "BG",
                        "nationality": "Bulgarian"
                    },
                    {
                        "alpha_2_code": "BF",
                        "nationality": "Burkinab\u00e9"
                    },
                    {
                        "alpha_2_code": "BI",
                        "nationality": "Burundian"
                    },
                    {
                        "alpha_2_code": "CV",
                        "nationality": "Cabo Verdean"
                    },
                    {
                        "alpha_2_code": "KH",
                        "nationality": "Cambodian"
                    },
                    {
                        "alpha_2_code": "CM",
                        "nationality": "Cameroonian"
                    },
                    {
                        "alpha_2_code": "CA",
                        "nationality": "Canadian"
                    },
                    {
                        "alpha_2_code": "KY",
                        "nationality": "Caymanian"
                    },
                    {
                        "alpha_2_code": "CF",
                        "nationality": "Central African"
                    },
                    {
                        "alpha_2_code": "TD",
                        "nationality": "Chadian"
                    },
                    {
                        "alpha_2_code": "CL",
                        "nationality": "Chilean"
                    },
                    {
                        "alpha_2_code": "CN",
                        "nationality": "Chinese"
                    },
                    {
                        "alpha_2_code": "CX",
                        "nationality": "Christmas Island"
                    },
                    {
                        "alpha_2_code": "CC",
                        "nationality": "Cocos Island"
                    },
                    {
                        "alpha_2_code": "CO",
                        "nationality": "Colombian"
                    },
                    {
                        "alpha_2_code": "KM",
                        "nationality": "Comoran, Comorian"
                    },
                    {
                        "alpha_2_code": "CG",
                        "nationality": "Congolese"
                    },
                    {
                        "alpha_2_code": "CD",
                        "nationality": "Congolese"
                    },
                    {
                        "alpha_2_code": "CK",
                        "nationality": "Cook Island"
                    },
                    {
                        "alpha_2_code": "CR",
                        "nationality": "Costa Rican"
                    },
                    {
                        "alpha_2_code": "CI",
                        "nationality": "Ivorian"
                    },
                    {
                        "alpha_2_code": "HR",
                        "nationality": "Croatian"
                    },
                    {
                        "alpha_2_code": "CU",
                        "nationality": "Cuban"
                    },
                    {
                        "alpha_2_code": "CW",
                        "nationality": "Cura\u00e7aoan"
                    },
                    {
                        "alpha_2_code": "CY",
                        "nationality": "Cypriot"
                    },
                    {
                        "alpha_2_code": "CZ",
                        "nationality": "Czech"
                    },
                    {
                        "alpha_2_code": "DK",
                        "nationality": "Danish"
                    },
                    {
                        "alpha_2_code": "DJ",
                        "nationality": "Djiboutian"
                    },
                    {
                        "alpha_2_code": "DM",
                        "nationality": "Dominican"
                    },
                    {
                        "alpha_2_code": "DO",
                        "nationality": "Dominican"
                    },
                    {
                        "alpha_2_code": "EC",
                        "nationality": "Ecuadorian"
                    },
                    {
                        "alpha_2_code": "EG",
                        "nationality": "Egyptian"
                    },
                    {
                        "alpha_2_code": "SV",
                        "nationality": "Salvadoran"
                    },
                    {
                        "alpha_2_code": "GQ",
                        "nationality": "Equatorial Guinean, Equatoguinean"
                    },
                    {
                        "alpha_2_code": "ER",
                        "nationality": "Eritrean"
                    },
                    {
                        "alpha_2_code": "EE",
                        "nationality": "Estonian"
                    },
                    {
                        "alpha_2_code": "ET",
                        "nationality": "Ethiopian"
                    },
                    {
                        "alpha_2_code": "FK",
                        "nationality": "Falkland Island"
                    },
                    {
                        "alpha_2_code": "FO",
                        "nationality": "Faroese"
                    },
                    {
                        "alpha_2_code": "FJ",
                        "nationality": "Fijian"
                    },
                    {
                        "alpha_2_code": "FI",
                        "nationality": "Finnish"
                    },
                    {
                        "alpha_2_code": "FR",
                        "nationality": "French"
                    },
                    {
                        "alpha_2_code": "GF",
                        "nationality": "French Guianese"
                    },
                    {
                        "alpha_2_code": "PF",
                        "nationality": "French Polynesian"
                    },
                    {
                        "alpha_2_code": "TF",
                        "nationality": "French Southern Territories"
                    },
                    {
                        "alpha_2_code": "GA",
                        "nationality": "Gabonese"
                    },
                    {
                        "alpha_2_code": "GM",
                        "nationality": "Gambian"
                    },
                    {
                        "alpha_2_code": "GE",
                        "nationality": "Georgian"
                    },
                    {
                        "alpha_2_code": "DE",
                        "nationality": "German"
                    },
                    {
                        "alpha_2_code": "GH",
                        "nationality": "Ghanaian"
                    },
                    {
                        "alpha_2_code": "GI",
                        "nationality": "Gibraltar"
                    },
                    {
                        "alpha_2_code": "GR",
                        "nationality": "Greek, Hellenic"
                    },
                    {
                        "alpha_2_code": "GL",
                        "nationality": "Greenlandic"
                    },
                    {
                        "alpha_2_code": "GD",
                        "nationality": "Grenadian"
                    },
                    {
                        "alpha_2_code": "GP",
                        "nationality": "Guadeloupe"
                    },
                    {
                        "alpha_2_code": "GU",
                        "nationality": "Guamanian, Guambat"
                    },
                    {
                        "alpha_2_code": "GT",
                        "nationality": "Guatemalan"
                    },
                    {
                        "alpha_2_code": "GG",
                        "nationality": "Channel Island"
                    },
                    {
                        "alpha_2_code": "GN",
                        "nationality": "Guinean"
                    },
                    {
                        "alpha_2_code": "GW",
                        "nationality": "Bissau-Guinean"
                    },
                    {
                        "alpha_2_code": "GY",
                        "nationality": "Guyanese"
                    },
                    {
                        "alpha_2_code": "HT",
                        "nationality": "Haitian"
                    },
                    {
                        "alpha_2_code": "HM",
                        "nationality": "Heard Island or McDonald Islands"
                    },
                    {
                        "alpha_2_code": "VA",
                        "nationality": "Vatican"
                    },
                    {
                        "alpha_2_code": "HN",
                        "nationality": "Honduran"
                    },
                    {
                        "alpha_2_code": "HK",
                        "nationality": "Hong Kong, Hong Kongese"
                    },
                    {
                        "alpha_2_code": "HU",
                        "nationality": "Hungarian, Magyar"
                    },
                    {
                        "alpha_2_code": "IS",
                        "nationality": "Icelandic"
                    },
                    {
                        "alpha_2_code": "IN",
                        "nationality": "Indian"
                    },
                    {
                        "alpha_2_code": "ID",
                        "nationality": "Indonesian"
                    },
                    {
                        "alpha_2_code": "IR",
                        "nationality": "Iranian, Persian"
                    },
                    {
                        "alpha_2_code": "IQ",
                        "nationality": "Iraqi"
                    },
                    {
                        "alpha_2_code": "IE",
                        "nationality": "Irish"
                    },
                    {
                        "alpha_2_code": "IM",
                        "nationality": "Manx"
                    },
                    {
                        "alpha_2_code": "IL",
                        "nationality": "Israeli"
                    },
                    {
                        "alpha_2_code": "IT",
                        "nationality": "Italian"
                    },
                    {
                        "alpha_2_code": "JM",
                        "nationality": "Jamaican"
                    },
                    {
                        "alpha_2_code": "JP",
                        "nationality": "Japanese"
                    },
                    {
                        "alpha_2_code": "JE",
                        "nationality": "Channel Island"
                    },
                    {
                        "alpha_2_code": "JO",
                        "nationality": "Jordanian"
                    },
                    {
                        "alpha_2_code": "KZ",
                        "nationality": "Kazakhstani, Kazakh"
                    },
                    {
                        "alpha_2_code": "KE",
                        "nationality": "Kenyan"
                    },
                    {
                        "alpha_2_code": "KI",
                        "nationality": "I-Kiribati"
                    },
                    {
                        "alpha_2_code": "KP",
                        "nationality": "North Korean"
                    },
                    {
                        "alpha_2_code": "KR",
                        "nationality": "South Korean"
                    },
                    {
                        "alpha_2_code": "KW",
                        "nationality": "Kuwaiti"
                    },
                    {
                        "alpha_2_code": "KG",
                        "nationality": "Kyrgyzstani, Kyrgyz, Kirgiz, Kirghiz"
                    },
                    {
                        "alpha_2_code": "LA",
                        "nationality": "Lao, Laotian"
                    },
                    {
                        "num_code": "428",
                        "alpha_2_code": "LV",
                        "nationality": "Latvian"
                    },
                    {
                        "alpha_2_code": "LB",
                        "nationality": "Lebanese"
                    },
                    {
                        "alpha_2_code": "LS",
                        "nationality": "Basotho"
                    },
                    {
                        "alpha_2_code": "LR",
                        "nationality": "Liberian"
                    },
                    {
                        "alpha_2_code": "LY",
                        "nationality": "Libyan"
                    },
                    {
                        "alpha_2_code": "LI",
                        "nationality": "Liechtenstein"
                    },
                    {
                        "alpha_2_code": "LT",
                        "nationality": "Lithuanian"
                    },
                    {
                        "alpha_2_code": "LU",
                        "nationality": "Luxembourg, Luxembourgish"
                    },
                    {
                        "alpha_2_code": "MO",
                        "nationality": "Macanese, Chinese"
                    },
                    {
                        "alpha_2_code": "MK",
                        "nationality": "Macedonian"
                    },
                    {
                        "alpha_2_code": "MG",
                        "nationality": "Malagasy"
                    },
                    {
                        "alpha_2_code": "MW",
                        "nationality": "Malawian"
                    },
                    {
                        "alpha_2_code": "MY",
                        "nationality": "Malaysian"
                    },
                    {
                        "alpha_2_code": "MV",
                        "nationality": "Maldivian"
                    },
                    {
                        "alpha_2_code": "ML",
                        "nationality": "Malian, Malinese"
                    },
                    {
                        "alpha_2_code": "MT",
                        "nationality": "Maltese"
                    },
                    {
                        "alpha_2_code": "MH",
                        "nationality": "Marshallese"
                    },
                    {
                        "alpha_2_code": "MQ",
                        "nationality": "Martiniquais, Martinican"
                    },
                    {
                        "alpha_2_code": "MR",
                        "nationality": "Mauritanian"
                    },
                    {
                        "alpha_2_code": "MU",
                        "nationality": "Mauritian"
                    },
                    {
                        "alpha_2_code": "YT",
                        "nationality": "Mahoran"
                    },
                    {
                        "alpha_2_code": "MX",
                        "nationality": "Mexican"
                    },
                    {
                        "alpha_2_code": "FM",
                        "nationality": "Micronesian"
                    },
                    {
                        "alpha_2_code": "MD",
                        "nationality": "Moldovan"
                    },
                    {
                        "alpha_2_code": "MC",
                        "nationality": "Mon\u00e9gasque, Monacan"
                    },
                    {
                        "alpha_2_code": "MN",
                        "nationality": "Mongolian"
                    },
                    {
                        "alpha_2_code": "ME",
                        "nationality": "Montenegrin"
                    },
                    {
                        "alpha_2_code": "MS",
                        "nationality": "Montserratian"
                    },
                    {
                        "alpha_2_code": "MA",
                        "nationality": "Moroccan"
                    },
                    {
                        "alpha_2_code": "MZ",
                        "nationality": "Mozambican"
                    },
                    {
                        "alpha_2_code": "MM",
                        "nationality": "Burmese"
                    },
                    {
                        "alpha_2_code": "NA",
                        "nationality": "Namibian"
                    },
                    {
                        "alpha_2_code": "NR",
                        "nationality": "Nauruan"
                    },
                    {
                        "alpha_2_code": "NP",
                        "nationality": "Nepali, Nepalese"
                    },
                    {
                        "alpha_2_code": "NL",
                        "nationality": "Dutch, Netherlandic"
                    },
                    {
                        "alpha_2_code": "NC",
                        "nationality": "New Caledonian"
                    },
                    {
                        "alpha_2_code": "NZ",
                        "nationality": "New Zealand, NZ"
                    },
                    {
                        "alpha_2_code": "NI",
                        "nationality": "Nicaraguan"
                    },
                    {
                        "alpha_2_code": "NE",
                        "nationality": "Nigerien"
                    },
                    {
                        "alpha_2_code": "NG",
                        "nationality": "Nigerian"
                    },
                    {
                        "alpha_2_code": "NU",
                        "nationality": "Niuean"
                    },
                    {
                        "alpha_2_code": "NF",
                        "nationality": "Norfolk Island"
                    },
                    {
                        "alpha_2_code": "MP",
                        "nationality": "Northern Marianan"
                    },
                    {
                        "alpha_2_code": "NO",
                        "nationality": "Norwegian"
                    },
                    {
                        "alpha_2_code": "OM",
                        "nationality": "Omani"
                    },
                    {
                        "alpha_2_code": "PK",
                        "nationality": "Pakistani"
                    },
                    {
                        "alpha_2_code": "PW",
                        "nationality": "Palauan"
                    },
                    {
                        "alpha_2_code": "PS",
                        "nationality": "Palestinian"
                    },
                    {
                        "alpha_2_code": "PA",
                        "nationality": "Panamanian"
                    },
                    {
                        "alpha_2_code": "PG",
                        "nationality": "Papua New Guinean, Papuan"
                    },
                    {
                        "alpha_2_code": "PY",
                        "nationality": "Paraguayan"
                    },
                    {
                        "alpha_2_code": "PE",
                        "nationality": "Peruvian"
                    },
                    {
                        "alpha_2_code": "PH",
                        "nationality": "Philippine, Filipino"
                    },
                    {
                        "alpha_2_code": "PN",
                        "nationality": "Pitcairn Island"
                    },
                    {
                        "alpha_2_code": "PL",
                        "nationality": "Polish"
                    },
                    {
                        "alpha_2_code": "PT",
                        "nationality": "Portuguese"
                    },
                    {
                        "alpha_2_code": "PR",
                        "nationality": "Puerto Rican"
                    },
                    {
                        "alpha_2_code": "QA",
                        "nationality": "Qatari"
                    },
                    {
                        "alpha_2_code": "RE",
                        "nationality": "R\u00e9unionese, R\u00e9unionnais"
                    },
                    {
                        "alpha_2_code": "RO",
                        "nationality": "Romanian"
                    },
                    {
                        "alpha_2_code": "RU",
                        "nationality": "Russian"
                    },
                    {
                        "alpha_2_code": "RW",
                        "nationality": "Rwandan"
                    },
                    {
                        "alpha_2_code": "BL",
                        "nationality": "Barth\u00e9lemois"
                    },
                    {
                        "alpha_2_code": "SH",
                        "nationality": "Saint Helenian"
                    },
                    {
                        "alpha_2_code": "KN",
                        "nationality": "Kittitian or Nevisian"
                    },
                    {
                        "alpha_2_code": "LC",
                        "nationality": "Saint Lucian"
                    },
                    {
                        "alpha_2_code": "MF",
                        "nationality": "Saint-Martinoise"
                    },
                    {
                        "alpha_2_code": "PM",
                        "nationality": "Saint-Pierrais or Miquelonnais"
                    },
                    {
                        "alpha_2_code": "VC",
                        "nationality": "Saint Vincentian, Vincentian"
                    },
                    {
                        "alpha_2_code": "WS",
                        "nationality": "Samoan"
                    },
                    {
                        "alpha_2_code": "SM",
                        "nationality": "Sammarinese"
                    },
                    {
                        "alpha_2_code": "ST",
                        "nationality": "S\u00e3o Tom\u00e9an"
                    },
                    {
                        "alpha_2_code": "SA",
                        "nationality": "Saudi, Saudi Arabian"
                    },
                    {
                        "alpha_2_code": "SN",
                        "nationality": "Senegalese"
                    },
                    {
                        "alpha_2_code": "RS",
                        "nationality": "Serbian"
                    },
                    {
                        "alpha_2_code": "SC",
                        "nationality": "Seychellois"
                    },
                    {
                        "alpha_2_code": "SL",
                        "nationality": "Sierra Leonean"
                    },
                    {
                        "alpha_2_code": "SG",
                        "nationality": "Singaporean"
                    },
                    {
                        "alpha_2_code": "SX",
                        "nationality": "Sint Maarten"
                    },
                    {
                        "alpha_2_code": "SK",
                        "nationality": "Slovak"
                    },
                    {
                        "alpha_2_code": "SI",
                        "nationality": "Slovenian, Slovene"
                    },
                    {
                        "alpha_2_code": "SB",
                        "nationality": "Solomon Island"
                    },
                    {
                        "alpha_2_code": "SO",
                        "nationality": "Somali, Somalian"
                    },
                    {
                        "alpha_2_code": "ZA",
                        "nationality": "South African"
                    },
                    {
                        "alpha_2_code": "GS",
                        "nationality": "South Georgia or South Sandwich Islands"
                    },
                    {
                        "alpha_2_code": "SS",
                        "nationality": "South Sudanese"
                    },
                    {
                        "alpha_2_code": "ES",
                        "nationality": "Spanish"
                    },
                    {
                        "alpha_2_code": "LK",
                        "nationality": "Sri Lankan"
                    },
                    {
                        "alpha_2_code": "SD",
                        "nationality": "Sudanese"
                    },
                    {
                        "alpha_2_code": "SR",
                        "nationality": "Surinamese"
                    },
                    {
                        "alpha_2_code": "SJ",
                        "nationality": "Svalbard"
                    },
                    {
                        "alpha_2_code": "SZ",
                        "nationality": "Swazi"
                    },
                    {
                        "alpha_2_code": "SE",
                        "nationality": "Swedish"
                    },
                    {
                        "alpha_2_code": "CH",
                        "nationality": "Swiss"
                    },
                    {
                        "alpha_2_code": "SY",
                        "nationality": "Syrian"
                    },
                    {
                        "alpha_2_code": "TW",
                        "nationality": "Chinese, Taiwanese"
                    },
                    {
                        "alpha_2_code": "TJ",
                        "nationality": "Tajikistani"
                    },
                    {
                        "num_code": "834",
                        "alpha_2_code": "TZ",
                        "nationality": "Tanzanian"
                    },
                    {
                        "alpha_2_code": "TH",
                        "nationality": "Thai"
                    },
                    {
                        "alpha_2_code": "TL",
                        "nationality": "Timorese"
                    },
                    {
                        "alpha_2_code": "TG",
                        "nationality": "Togolese"
                    },
                    {
                        "alpha_2_code": "TK",
                        "nationality": "Tokelauan"
                    },
                    {
                        "alpha_2_code": "TO",
                        "nationality": "Tongan"
                    },
                    {
                        "alpha_2_code": "TT",
                        "nationality": "Trinidadian or Tobagonian"
                    },
                    {
                        "alpha_2_code": "TN",
                        "nationality": "Tunisian"
                    },
                    {
                        "alpha_2_code": "TR",
                        "nationality": "Turkish"
                    },
                    {
                        "alpha_2_code": "TM",
                        "nationality": "Turkmen"
                    },
                    {
                        "alpha_2_code": "TC",
                        "nationality": "Turks and Caicos Island"
                    },
                    {
                        "alpha_2_code": "TV",
                        "nationality": "Tuvaluan"
                    },
                    {
                        "alpha_2_code": "UG",
                        "nationality": "Ugandan"
                    },
                    {
                        "alpha_2_code": "UA",
                        "nationality": "Ukrainian"
                    },
                    {
                        "alpha_2_code": "AE",
                        "nationality": "Emirati, Emirian, Emiri"
                    },
                    {
                        "alpha_2_code": "GB",
                        "nationality": "British, UK"
                    },
                    {
                        "alpha_2_code": "UM",
                        "nationality": "American"
                    },
                    {
                        "alpha_2_code": "US",
                        "nationality": "American"
                    },
                    {
                        "alpha_2_code": "UY",
                        "nationality": "Uruguayan"
                    },
                    {
                        "alpha_2_code": "UZ",
                        "nationality": "Uzbekistani, Uzbek"
                    },
                    {
                        "alpha_2_code": "VU",
                        "nationality": "Ni-Vanuatu, Vanuatuan"
                    },
                    {
                        "alpha_2_code": "VE",
                        "nationality": "Venezuelan"
                    },
                    {
                        "alpha_2_code": "VN",
                        "nationality": "Vietnamese"
                    },
                    {
                        "alpha_2_code": "VG",
                        "nationality": "British Virgin Island"
                    },
                    {
                        "alpha_2_code": "VI",
                        "nationality": "U.S. Virgin Island"
                    },
                    {
                        "alpha_2_code": "WF",
                        "nationality": "Wallis and Futuna, Wallisian or Futunan"
                    },
                    {
                        "alpha_2_code": "EH",
                        "nationality": "Sahrawi, Sahrawian, Sahraouian"
                    },
                    {
                        "alpha_2_code": "YE",
                        "nationality": "Yemeni"
                    },
                    {
                        "alpha_2_code": "ZM",
                        "nationality": "Zambian"
                    },
                    {
                        "alpha_2_code": "ZW",
                        "nationality": "Zimbabwean"
                    }
                ]
            }
        }
    }
</script>