<template>
    <div class="nb-input-component">
        <h4>{{header}}</h4>
        <label class="nb-select-frame">
            <select v-bind:value="value" v-on:input="updateValue($event.target.value)" v-on:change="execOnChange()">
                <option v-for="option in options" v-bind:value="option.code" v-bind:key="option.text">{{option.text}}
                </option>
            </select>
        </label>
    </div>
</template>

<script>
    export default {
        name: "nb-picker",
        props: ["header", "pdata", "value", "method"],
        computed: {
            options: function () {
                if (this.pdata) {
                    if (this.pdata[0].hasOwnProperty("code")) {
                        return this.pdata;
                    } else {
                        return this.pdata.map(function (item) {
                            return {
                                code: item,
                                text: item
                            }
                        });
                    }
                }
            }
        },
        watch: {
            pdata: function (values) {
                this.options = values;
            }
        },
        methods: {
            updateValue: function (value) {
                this.$emit("input", value);
            },
            execOnChange: function () {
                if (this.method) {
                    this.method();
                }
            }
        },
    }
</script>