<template>
    <button class="nb-red-btn nb-row-delete" v-bind:title="tooltip" @click="executeDelete()">
        <i class="nb-i-x"></i>
    </button>
</template>

<script>
    export default {
        name: "nb-row-delete-btn",
        props: ["method", "tooltip", "uuid"],
        methods: {
            executeDelete() {
                if (this.method) {
                    this.method(this.uuid);
                }
            }
        }
    }
</script>

<style scoped lang="sass">
    .nb-i-x
        width: 20px
        height: 20px
        display: flex
    .nb-row-delete
        width: 30px
        height: 30px
        padding: 0
        display: flex
        align-items: center
        justify-content: center
</style>