<template>
    <label class="nb-input-component">
        <h4>{{header}}</h4>
        <textarea v-bind:value="value"
                  v-bind:placeholder="placeholder"
                  v-bind:maxlength="max"
                  v-on:input="updateValue($event.target.value)"></textarea>
    </label>
</template>

<script>
    export default {
        name: "nb-textarea-component",
        props: ["header", "placeholder", "value", "max"],
        methods: {
            updateValue: function (value) {
                this.$emit("input", value)
            }
        }
    }
</script>