.st-app-dialog
  padding: 10px 20px 20px 20px
  height: calc(100% - 30px)

.st-dialog-header
  display: flex
  align-items: center
  font-size: $dialogs_title

.st-dialog-footer
  height: 30px
  display: flex
  align-items: center

.st-buttons-only
  +setGridAuto(80px, 10px, "columns")
  justify-content: flex-end


