@font-face
  font-family: 'roboto_medium'
  src:  url('/fonts/Roboto-Medium.ttf') format('truetype')
@font-face
  font-family: 'roboto_regular'
  src:  url('/fonts/Roboto-Regular.ttf') format('truetype')
@font-face
  font-family: 'roboto_bold'
  src:  url('/fonts/Roboto-Bold.ttf') format('truetype')
@font-face
  font-family: 'roboto_black'
  src:  url('/fonts/Roboto-Black.ttf') format('truetype')

$rob_med: "roboto_medium"
$rob_regular: "roboto_regular"
$rob_bold: "roboto_bold"
$rob_black: "roboto_black"

$very_dark_grey: #acacac
$dark_grey: #dadada
$light_grey: #f5f5f5
$main_blue: #28c5e8
$main_blue_dark: #3279e8
$light_blue: #dbf1ff
$green_transparent: rgba(63, 191, 63, 0.24)
$main_green: #98ca51
$main_green_strong: #00d421
$light_orange: #fffb87
$hover_orange: #fff065
$main_orange: #e3a900
$main_purple: #6e1265
$main_red: #c70700
$main_black: #1f1d1c

$input_error: rgba(255, 0, 0, .3)

$very_small_font: 12px
$small_font: 13px
$regular_font: 14px
$medium_font: 16px
$large_font: 18px

$button_font_size: $small_font
$dialogs_title: $medium_font
$link_text_size: $small_font
$input_title_font: $very_small_font

$tablet_media: 800px
$smartphone_media: 600px


@function getGridMinMax($values)
  $result: ()
  @each $value in $values
    $result: append($result, minmax($value, 1fr))
  @return $result

=setGrid($columns, $columns-gap, $rows, $rows-gap, $type)
  display: grid
  @if ($type == 'columns')
    grid-template-columns: $columns
    grid-column-gap: $columns-gap
  @else if ($type == 'rows')
    grid-template-rows: $rows
    grid-row-gap: $rows-gap
  @else if ($type == 'both')
    grid-template-columns: $columns
    grid-column-gap: $columns-gap
    grid-template-rows: $rows
    grid-row-gap: $rows-gap

=setGridAuto($size, $gap, $type)
  display: grid
  @if ($type == "columns")
    grid-auto-columns: $size
    grid-template-columns: $size
    grid-column-gap: $gap
    grid-auto-flow: column
  @else if ($type == "rows")
    grid-auto-rows: $size
    grid-template-rows: $size
    grid-row-gap: $gap
    grid-auto-flow: row

=shadowGenerator($item)
  -webkit-box-shadow: $item
  -moz-box-shadow: $item
  box-shadow: $item

=noUserSelect()
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

=transition($attr, $time, $type:ease-out)
  will-change: $attr
  -webkit-transition: $attr $time $type
  -moz-transition: $attr $time $type
  -o-transition: $attr $time $type
  transition: $attr $time

=rotateElement($angle)
  -ms-transform: rotate($angle)
  -webkit-transform: rotate($angle)
  -moz-transform: rotate($angle)
  -o-transform: rotate($angle)
  transform: rotate($angle)

=svgBGIcon($url, $size:cover, $position: center)
  background-image: none
  -webkit-mask-image: url($url)
  mask-image: url($url)
  -webkit-mask-size: $size
  mask-size: $size
  -webkit-mask-position: $position
  mask-position: $position
  -webkit-mask-repeat: no-repeat
  mask-repeat: no-repeat

=ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=addGradient($color1, $color2, $color3, $color4)
  background: -moz-linear-gradient(top, $color1, $color2, $color3, $color4)
  background: -webkit-linear-gradient(top, $color1, $color2, $color3, $color4)
  background: linear-gradient(to bottom, $color1, $color2, $color3, $color4)


.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.animated-fast
  -webkit-animation-duration: 400ms
  animation-duration: 400ms
  -webkit-animation-fill-mode: both
  animation-fill-mode: both


@-webkit-keyframes zoomIn
  from
    opacity: 0
    -webkit-transform: scale3d(.3, .3, .3)
    transform: scale3d(.3, .3, .3)
  50%
    opacity: 1

@keyframes zoomIn
  from
    opacity: 0
    -webkit-transform: scale3d(.3, .3, .3)
    transform: scale3d(.3, .3, .3)
  50%
    opacity: 1

.zoomIn
  -webkit-animation-name: zoomIn
  animation-name: zoomIn

@-webkit-keyframes pulse
  from
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
  50%
    -webkit-transform: scale3d(1.05, 1.05, 1.05)
    transform: scale3d(1.05, 1.05, 1.05)
  to
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)



@keyframes pulse
  from
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
  50%
    -webkit-transform: scale3d(1.05, 1.05, 1.05)
    transform: scale3d(1.05, 1.05, 1.05)
  to
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
.pulse
  -webkit-animation-name: pulse
  animation-name: pulse