@import presets
.nb-input-component
  border: none
  padding: 0
  margin: 0
  +setGrid(null, null, 15px auto, 7px, "rows")

  h4
    font-size: $input_title_font
    +ellipsis()

  textarea
    padding: 5px

  textarea, input, .nb-form-label
    +transition(background, 400ms)
    border: solid 1px $dark_grey

.nb-form-val-display
  display: flex
  align-items: center
  padding: 0 5px
  background: $light_grey
  font-size: $small_font

.nb-select-frame, .nb-form-val-display
  height: 40px
  border: solid 1px $dark_grey
  +transition(background, 400ms)

.nb-select-frame
  background: white
  select
    height: 42px
    width: 100%
    padding: 0 5px


.nb-money-currency-block
  +setGrid(1fr minmax(40px, auto), 10px, null, null, "columns")

.nb-highlighted-input-green .nb-form-label,
.nb-highlighted-input-green input,
.nb-highlighted-input-green .nb-select-frame,
.nb-highlighted-green
  background: $green_transparent !important
