<template>
    <div class="nb-view-area nb-details-view">
        <div class="nb-view-toolbar">
            <button class="nb-green-btn" v-bind:disabled="async_request_sent"
                    @click="saveDetails()"
                    v-html="$t('message.save_details')"></button>
        </div>
        <div class="nb-scrollable">
            <h5 v-if="!airline_received" class="nb-warning-to-user">{{$t('message.company.airline_picker_warn')}}</h5>
            <div class="nb-inputs-quatro-grid">
                <nb-airline-picker v-bind:header="$t('message.airline_name')"
                                   v-bind:method="updateAirlineDataFromSelected"
                                   :class="{'nb-invalid-component' : selected_airline_exists}"
                                   v-if="!airline_received">
                </nb-airline-picker>
                <nb-form-label v-bind:header="$t('message.airline_name')"
                               v-bind:text="airline.name"
                               v-if="airline_received">
                </nb-form-label>
                <nb-datepicker v-model="airline.founded"
                               name="founded"
                               max="4"
                               v-validate="'required'"
                               :class="{'nb-invalid-component' : errors.has('founded')}"
                               v-bind:header="$t('message.company.founded')">
                </nb-datepicker>
                <nb-form-label v-bind:header="$t('message.company.fleet_size')"
                               v-bind:placeholder="$t('message.company.fleet_size_ph')"
                               v-bind:class="highlightInput"
                               v-bind:text="airline.fleet_size">
                </nb-form-label>
            </div>
            <div class="nb-inputs-quatro-grid">
                <div class="nb-money-currency-block">
                    <nb-digits v-bind:header="$t('message.company.average_salary')"
                               v-model="airline.average_salary"
                               name="salary"
                               v-validate="'required'"
                               :class="{'nb-invalid-component' : errors.has('salary')}"
                               max="6">
                    </nb-digits>
                    <CurrencyPicker v-model="airline.salary_currency"
                                    name="currency"
                                    v-validate="'required'"
                                    :class="{'nb-invalid-component' : errors.has('currency')}"></CurrencyPicker>
                </div>
                <nb-digits v-bind:header="$t('message.company.average_pilot_time')"
                           v-model="airline.average_monthly_pilot_time"
                           name="time"
                           v-validate="'required'"
                           :class="{'nb-invalid-component' : errors.has('time')}"
                           max="3">
                </nb-digits>
                <nb-digits v-bind:header="$t('message.company.average_pilot_age')"
                           v-model="airline.average_pilot_age"
                           name="age"
                           v-validate="'required'"
                           :class="{'nb-invalid-component' : errors.has('age')}"
                           max="2">
                </nb-digits>
            </div>
            <h2 class="nb-section-header" v-html="$t('message.company.fleet')"></h2>
            <AirplanePicker v-bind:plane-model="fleet_plane_model" component-type="fleet"></AirplanePicker>
            <div class="nb-aligned-right-block">
                <button @click="addToFleet()"
                        class="nb-blue-btn"
                        v-html="$t('message.add')">
                </button>
            </div>
            <!---------------- FLEET LIST ---------------------->
            <ul class="nb-my-fleet-list">
                <li v-for="group in airline.fleet">
                    <span>{{group.airplane_type_text}}</span>
                    <span>{{group.airplane_manufacturer}} {{group.airplane_model}}</span>
                    <span>{{group.fleet_units}}</span>
                    <DeleteButton v-bind:method="removeFromFleet" v-bind:uuid="group.uuid"></DeleteButton>
                </li>
            </ul>
            <!-------------- & FLEET LIST & -------------------->
        </div>
    </div>
</template>

<script>
    import {uuid} from 'vue-uuid'
    import Authentication from "../../../firebase/authentication";
    import Notifications from "../../../notifications/notifications";
    import {Constants} from "../../../globals/constants";
    import AirplanePicker from "../../../components/ui-components/nb-airplane-picker"
    import CurrencyPicker from "../../../components/ui-components/nb-currency-picker"
    import Connection from "../../../firebase/connection";
    import DeleteButton from "../../../components/ui-components/nb-row-delete-btn"
    import {mapState, mapMutations} from "vuex";


    export default {
        name: "CompanyDetails",
        components: {
            CurrencyPicker,
            AirplanePicker,
            DeleteButton
        },
        data() {
            return {
                airline_received: false,
                saved_airlines_ref: null,
                selected_airline_exists: false,
                airline: {
                    name: null,
                    iata: null,
                    icao: null,
                    callsign: null,
                    country: null,
                    alias: null,
                    founded: null,
                    fleet_size: null,
                    average_salary: null,
                    average_monthly_pilot_time: null,
                    average_pilot_age: null,
                    salary_currency: null,
                    fleet_types: {
                        single_engine_piston: false,
                        multi_engine_piston: false,
                        turboprop: false,
                        jet_airplane: false
                    },
                    fleet: []
                },
                fleet_plane_model: {
                    airplane_type: null,
                    airplane_manufacturer: null,
                    airplane_model: null,
                    fleet_units: null
                }
            }
        },
        created() {
            const self = this;
            Authentication.auth().onAuthStateChanged(() => {
                this.user_details_firebase_ref.ref().on("value", function (snap) {
                    if (snap.val()) {
                        Object.assign(self.airline, snap.val()["inserted_details"]);
                        self.airline_received = self.airline.name !== null;
                        self.backup_airline_name = self.airline.name;
                    }
                });
                if (!self.saved_airlines_ref) {
                    self.saved_airlines_ref = new Connection(Constants.fire_registered_airlines);
                }
            });
        },
        computed: {
            ...mapState([
                "user_details_firebase_ref",
                "async_request_sent",
                "airplanes_data",
                "highlight_field"
            ]),
            highlightInput: function () {
                return {
                    "nb-highlighted-input-green": this.highlight_field
                }
            },
        },
        methods: {
            ...mapMutations([
                "setVuexAsyncRequestSentFlag",
                "setVuexHighlightField"
            ]),
            /**
             * Функция добавляет данные о выбранном самолете в массив флота.
             * Влад. 19/12/18
             */
            addToFleet() {
                const fleetToAdd = {};
                if (this.fleet_plane_model.fleet_units !== "0" && this.fleet_plane_model.fleet_units) {
                    if (this.airplanes_data) {
                        fleetToAdd.uuid = uuid.v1();
                        fleetToAdd.airplane_type_code = this.fleet_plane_model.airplane_type;
                        fleetToAdd.airplane_type_text = this.getReadableValueForFleetItem("airplanes_types", this.fleet_plane_model.airplane_type);
                        fleetToAdd.airplane_manufacturer = this.getReadableValueForFleetItem(this.fleet_plane_model.airplane_type, this.fleet_plane_model.airplane_manufacturer);
                        fleetToAdd.airplane_model = this.getReadableValueForFleetItem(this.fleet_plane_model.airplane_manufacturer, this.fleet_plane_model.airplane_model);
                        fleetToAdd.fleet_units = this.fleet_plane_model.fleet_units;
                        this.airline.fleet.push(fleetToAdd);
                        this.calcFleetSize();
                        this.fleet_plane_model.fleet_units = null;
                        this.setVuexHighlightField();
                    }
                } else {
                    Notifications.showWarning(this, this.$t('message.attention'), this.$t("message.company.fleet_size_warn"));
                }
            },
            /**
             * This function deletes fleet group from fleet list.
             * @param uuid - row id to delete
             * Vlad. 28/12/18
             */
            removeFromFleet(uuid) {
                const index = this.airline.fleet.findIndex((obj) => obj.uuid === uuid);
                if (index !== null && index > -1) {
                    this.airline.fleet.splice(index, 1);
                    this.calcFleetSize();
                    this.setVuexHighlightField();
                }
            },
            /**
             * Функция заменяющая енумератор выранный пикером на понятный для пользователя
             * текст. Вызывается функцией добавления нового самолета во флот.
             * @param tableName - имя таблицы в которой нужно искать значение енумератора
             * @param code - значение енумератора которое должно быть заменено на понятный текст.
             * Валд. 19/12/18
             */
            getReadableValueForFleetItem(tableName, code) {
                return this.airplanes_data[tableName].find((item) => {
                    return item.code === code
                }).text;
            },
            /**
             * This function updated component Airline object with data from selected autocomplete
             * option.
             * Vlad. 12/12/18
             */
            updateAirlineDataFromSelected(airline) {
                const fieldsToUpdate = ["name", "iata", "icao", "callsign", "country", "alias"];
                fieldsToUpdate.map((field) => {
                    this.airline[field] = airline ? airline[field] : null;
                });
                if (airline) {
                    this.setVuexAsyncRequestSentFlag(true);
                    this.saved_airlines_ref.ref().orderByChild("icao").equalTo(this.airline.icao).once("value").then((snap) => {
                        if (snap.val()) {
                            this.selected_airline_exists = true;
                            Notifications.showError(this, this.$t('message.attention'), this.$t("message.company.airline_exists_warn"));
                        } else {
                            this.selected_airline_exists = false;
                        }
                        this.setVuexAsyncRequestSentFlag(false);
                    })
                }
            },
            /**
             * Данная функция вычисляет размер флота авиакомпании.
             * Вызывается при добавленнии либо удалении группы флота
             * Влад. 27/12/19
             */
            calcFleetSize() {
                let self = this;
                this.airline.fleet_size = 0;
                this.airline.fleet.map(function (group) {
                    self.airline.fleet_size = self.airline.fleet_size + parseInt(group.fleet_units);
                });
            },
            /**
             * This function saves Airline details filled by user in Firebase
             * Vlad. 16/12/18
             */
            saveDetails() {
                this.$validator.validate().then((isValid) => {
                    if (isValid && !this.selected_airline_exists) {
                        this.setVuexAsyncRequestSentFlag(true);
                        this.user_details_firebase_ref.ref().child(Constants.fire_inserted_details).set(this.airline).then(() => {
                            Notifications.showSuccess(this, "", this.$t("message.details_saved"));
                            this.setVuexAsyncRequestSentFlag(false);
                            // Saving airline to registered airlines list in case it is a first airline setup
                            if (!this.airline_received) {
                                this.saved_airlines_ref.ref().push({
                                    name: this.airline.name,
                                    icao: this.airline.icao,
                                    iata: this.airline.iata
                                })
                            }
                        });
                    } else {
                        Notifications.showWarning(this, this.$t('message.attention'), "Please fill correctly all required fields");
                    }
                });

            },
        }
    }
</script>

<style scoped lang="sass">
    @import "../../../styles/presets.sass"
    .nb-aligned-right-block
        margin: 10px 0 0 0

    .nb-my-fleet-list
        margin: 20px 0 0 0
        li
            +setGrid(repeat(3, 1fr) 30px, 10px, null, null, "columns")
            height: 40px
            align-items: center
            font-size: $small_font
            border-bottom: solid 1px $light_grey
        span
            +ellipsis()

</style>