<template>
    <div class="nb-prof-content">
        <div class="nb-prof-links">
            <router-link v-for="link in profile_links" v-bind:to="link.route" v-bind:key="$t(link.name)">{{$t(link.name)}}
            </router-link>
        </div>
        <router-view class="nb-prof-views"/>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        name: "Profile",
        data() {
            return {}
        },
        computed: {
            ...mapState(["profile_links"])
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .nb-prof-content
        +setGrid(100px 1fr, 10px, null, null, "columns")
        height: calc(100% - 40px)

    .nb-prof-links a
        height: 40px
        display: flex
        align-items: center
        justify-content: flex-start
        padding: 0 5px
        color: $main_black
        font-family: Arial, serif
        &:hover
            background: $light_grey
        &.router-link-active
            background: $light_blue
</style>