<template>
    <header>
        <div class="st-logo-block"></div>
        <div class="st-head-buttons">
            <router-link class="st-header-icon nb-i-profile"
                         v-bind:to="details_route"
                         v-if="current_user_type">
            </router-link>
            <button class="st-header-icon nb-i-login" v-on:click="show" v-if="!current_user_id"></button>
            <button class="st-header-icon nb-i-logout" v-on:click="logout" v-if="current_user_id" title="Logout"></button>
        </div>
    </header>
</template>

<script>
    import Login from "../dialogs/LoginDialog"
    import Authentication from "../firebase/authentication";
    import {mapState} from 'vuex'

    export default {
        name: "Header",
        data() {
            return {
                user: null
            }
        },
        computed: {
            ...mapState(["current_user_id", "current_user_type"]),
            details_route: function () {
                if (this.current_user_type) {
                    return `/profile/${this.current_user_type.toLowerCase()}-details`;
                }
            }
        },
        methods: {
            show() {
                this.$modal.show(Login, null, {width: "450", height: "auto"})
            },
            logout() {
                Authentication.logout();
            }
        }
    }
</script>

<style scoped lang="sass">
    @import "../styles/presets.sass"
    @import "../styles/icons.sass"

    header
        +setGrid(1fr auto, 10px, null, null, "columns")
        align-content: center
        height: 40px
        background: $main_blue_dark
        padding: 0 10px

    .st-head-buttons
        +setGridAuto(25px, 10px, "columns")

    .st-header-icon
        $size: 25px
        width: $size
        height: $size
        background-size: contain
</style>