<template>
    <div class="nb-new-log-content">
        <div class="nb-view-toolbar">
            <button class="nb-green-btn" v-on:click="saveLog()" v-html="$t('message.add_flight_log.save_log')"></button>
        </div>
        <form class="nb-new-log-form nb-scrollable" name="logbookForm" data-vv-scope="logbookForm">
            <h2 class="nb-section-header" v-html="$t('message.add_flight_log.required_details')"></h2>
            <div class="nb-hexa-grid">
                <nb-datepicker v-bind:header="$t('message.date')" v-model="log.takeoff_date" name="flight-date"
                               v-validate="'required'"></nb-datepicker>
                <nb-input v-bind:header="$t('message.aircraft_make_model')" placeholder="Ex: Cessna 172SP"
                          v-model="log.aircraft_name" name="aircraft-model" v-validate="'required'"></nb-input>
                <nb-input v-bind:header="$t('message.aircraft_reg_id')" placeholder="Ex: 4X-CWH"
                          v-model="log.aircraft_id" name="aircraft-id" v-bind:to-uppercase="true"
                          v-validate="'required'"></nb-input>
                <nb-input v-bind:header="$t('message.departure_airport')" placeholder="EX: DME"
                          v-model="log.departure_airport" name="departure" v-bind:to-uppercase="true" v-validate="'required'"></nb-input>
                <nb-input v-bind:header="$t('message.destination_airport')" placeholder="EX: DME"
                          v-model="log.destination_airport" name="destination" v-bind:to-uppercase="true" v-validate="'required'"></nb-input>
                <nb-digits v-bind:header="$t('message.landings_amount')" v-model="log.landings_per_flight"
                           name="landings" v-validate="'required'"></nb-digits>
            </div>
            <div class="nb-triple-grid">
                <div class="nb-flight-time-section">
                    <nb-picker class="nb-piloting-type-picker" v-bind:header="$t('message.pilot_time_type')"
                               v-model="log.pilot_time_type" v-bind:pdata="time_type_picker"></nb-picker>
                    <nb-digits v-bind:header="$t('message.hours')"
                               name="flight-hours"
                               v-bind:class="highlightInput"
                               max="2"
                               v-bind:placeholder="$t('message.only_two_digits')"
                               v-validate="'required'"
                               v-model="log.total_flight_time.hours"></nb-digits>
                    <nb-picker v-bind:header="$t('message.minutes')"
                               v-bind:pdata="minutes_picker_data"
                               v-bind:class="highlightInput"
                               v-model="log.total_flight_time.minutes"></nb-picker>
                </div>
                <nb-textarea v-bind:header="$t('message.remarks')" v-model="log.remarks" max="500" name="remarks"
                             v-validate="'required'"></nb-textarea>
            </div>
            <h2 class="nb-section-header" v-html="$t('message.add_flight_log.additional_details')"></h2>
            <div class="nb-conditions-of-flight-data">
                <h3 class="nb-subsection-header" v-html="$t('message.flight_conditions')"></h3>
                <div class="nb-quatro-grid">
                    <div class="nb-flight-condition-frame">
                        <h5 v-html="$t('message.vfr')"></h5>
                        <nb-picker v-bind:header="$t('message.hours')" v-bind:pdata="hours_picker_data"
                        v-model="log.vfr_flight_time.hours" v-bind:method="summarizeTimes"></nb-picker>
                        <nb-picker v-bind:header="$t('message.minutes')" v-bind:pdata="minutes_picker_data"
                                   v-model="log.vfr_flight_time.minutes" v-bind:method="summarizeTimes"></nb-picker>
                    </div>


                    <div class="nb-flight-condition-frame">
                        <h5 v-html="$t('message.ifr')"></h5>
                        <nb-picker v-bind:header="$t('message.hours')" v-bind:pdata="hours_picker_data"
                                   v-model="log.ifr_flight_time.hours" v-bind:method="summarizeTimes"></nb-picker>
                        <nb-picker v-bind:header="$t('message.minutes')" v-bind:pdata="minutes_picker_data"
                                   v-model="log.ifr_flight_time.minutes" v-bind:method="summarizeTimes"></nb-picker>
                    </div>
                    <div class="nb-flight-condition-frame">
                        <h5 v-html="$t('message.day')"></h5>
                        <nb-picker v-bind:header="$t('message.hours')" v-bind:pdata="hours_picker_data"
                                   v-model="log.day_flight_time.hours" v-bind:method="summarizeTimes"></nb-picker>
                        <nb-picker v-bind:header="$t('message.minutes')" v-bind:pdata="minutes_picker_data"
                                   v-model="log.day_flight_time.minutes" v-bind:method="summarizeTimes"></nb-picker>
                    </div>
                    <div class="nb-flight-condition-frame">
                        <h5 v-html="$t('message.night')"></h5>
                        <nb-picker v-bind:header="$t('message.hours')" v-bind:pdata="hours_picker_data"
                                   v-model="log.night_flight_time.hours" v-bind:method="summarizeTimes"></nb-picker>
                        <nb-picker v-bind:header="$t('message.minutes')" v-bind:pdata="minutes_picker_data"
                                   v-model="log.night_flight_time.minutes" v-bind:method="summarizeTimes"></nb-picker>
                    </div>
                </div>
            </div>
            <div class="nb-dual-grid">
                <div class="nb-aircraft-cat-class">
                    <h5 v-html="$t('message.add_flight_log.aircraft_category')"></h5>
                    <div class="nb-triple-grid nb-time-duration-section">
                        <nb-picker v-model="log.aircraft_category" v-bind:pdata="aircraft_category_picker"></nb-picker>
                        <nb-picker v-bind:header="$t('message.hours')" v-bind:pdata="hours_picker_data"
                                   v-model="log.aircraft_category_time.hours"></nb-picker>
                        <nb-picker v-bind:header="$t('message.minutes')" v-bind:pdata="minutes_picker_data"
                                   v-model="log.aircraft_category_time.minutes"></nb-picker>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>


<script>
    import Notifications from "../../../../notifications/notifications";
    import {mapState, mapMutations} from 'vuex'

    export default {
        name: "AddFlight",
        data() {
            return {
                hours_picker_data: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"],
                minutes_picker_data: ["00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55"],
                log: {
                    flagged: false,
                    takeoff_date: "",
                    aircraft_name: "",
                    aircraft_id: "",
                    departure_airport: "",
                    destination_airport: "",
                    landings_per_flight: "",
                    remarks: "",
                    pilot_time_type: "",
                    aircraft_category: "",
                    aircraft_category_time: {
                        hours: "",
                        minutes: ""
                    },
                    total_flight_time: {
                        hours: "",
                        minutes: ""
                    },
                    day_flight_time: {
                        hours: "",
                        minutes: ""
                    },
                    night_flight_time: {
                        hours: "",
                        minutes: ""
                    },
                    vfr_flight_time: {
                        hours: "",
                        minutes: ""
                    },
                    ifr_flight_time: {
                        hours: "",
                        minutes: ""
                    }
                }
            }
        },
        created() {
            this.log.pilot_time_type = this.time_type_picker[0].code;
        },
        methods: {
            ...mapMutations([
                "setVuexHighlightField"
            ]),
            /**
             * Here we calculate Flight Conditions times and update total flight time
             */
            summarizeTimes() {
                const vfrIfrTimes = [this.log.vfr_flight_time, this.log.ifr_flight_time];
                const dayNightTimes = [this.log.day_flight_time, this.log.night_flight_time];
                const summarize = (timesArray) => {
                    let hoursSum = 0, minutesSum = 0;
                    for (let item of timesArray) {
                        if (item.hours) {
                            hoursSum = hoursSum + parseInt(item.hours);
                        }
                        if (item.minutes) {
                            minutesSum = minutesSum + parseInt(item.minutes);
                        }
                    }
                    if (minutesSum) {
                        hoursSum = hoursSum ? hoursSum + Math.floor(minutesSum / 60) : Math.floor(minutesSum / 60);
                        minutesSum = minutesSum % 60;
                    }

                    this.setVuexHighlightField();
                    return {
                        hours: hoursSum,
                        minutes: minutesSum
                    }
                };

                let totalSum = summarize(vfrIfrTimes);
                if (!totalSum.hours && !totalSum.minutes) {
                    totalSum = summarize(dayNightTimes);
                }

                this.log.total_flight_time.hours = totalSum.hours;
                this.log.total_flight_time.minutes = totalSum.minutes < 10 ? "0" + totalSum.minutes : totalSum.minutes.toString();
            },
            /**
             * Here we save filled up log form
             */
            saveLog() {
                this.$validator.validate().then((isValid) => {
                    if (isValid) {
                        this.logbook_firebase_ref.ref().push(this.log).then(() => {
                            Notifications.showSuccess(this, "", this.$t("message.add_flight_log.log_added"))
                        });
                    } else {
                        Notifications.showWarning(this, this.$t("message.add_flight_log.invalid_form"), this.$t("message.add_flight_log.fill_required_fields"));
                    }
                });
            },
        },
        computed: {
            ...mapState(["logbook_firebase_ref", "highlight_field"]),
            highlightInput: function () {
                return {
                    "nb-highlighted-input-green": this.highlight_field
                }
            },
            time_type_picker() {
                return [
                    {code: "PILOT_IN_COMMAND", text: this.$t("message.time_type_options.PILOT_IN_COMMAND")},
                    {code: "SECOND_IN_COMMAND", text: this.$t("message.time_type_options.SECOND_IN_COMMAND")},
                    {code: "DUAL_RECEIVED", text: this.$t("message.time_type_options.DUAL_RECEIVED")},
                    {code: "FLIGHT_INSTRUCTOR", text: this.$t("message.time_type_options.FLIGHT_INSTRUCTOR")},
                    {code: "STUDENT", text: this.$t("message.time_type_options.STUDENT")}
                ]
            },
            aircraft_category_picker() {
                return [
                    {code: "SINGLE_ENGINE_LAND", text: this.$t("message.SINGLE_ENGINE_LAND")},
                    {code: "MULTI_ENGINE_LAND", text: this.$t("message.MULTI_ENGINE_LAND")}
                ]
            }
        }
    }
</script>

<style lang="sass">
    @import "../../../../styles/presets.sass"

    .nb-new-log-toolbar
        +setGridAuto(minmax(100px, 140px), 10px, "columns")
        justify-content: flex-end

    .nb-new-log-content
        overflow: hidden
        +setGrid(null, null, 35px 1fr, 10px, "rows")

    .nb-flight-time-section
        +setGrid(repeat(2, auto), 20px, repeat(2, auto), 20px, "both")

    .nb-piloting-type-picker
        grid-column: 1/3

    .nb-conditions-of-flight-data
        padding: 5px 10px 10px 10px
        border: solid 1px $dark_grey
        margin: 0 0 20px 0

    .nb-flight-condition-frame, .nb-aircraft-cat-class
        padding: 10px
        border: solid 1px $dark_grey
        background: $light_grey
        .nb-triple-grid
            margin: 0
        h5
            text-transform: uppercase
            font-weight: bold

    .nb-flight-condition-frame
        +setGrid(repeat(2, 1fr), 10px, 15px auto, 10px, "both")
        h5
            grid-column: 1/3

    .nb-aircraft-cat-class
        +setGrid(null, null, 15px 1fr, 7px, "rows")

    @media all and (max-width: $tablet_media)
        .nb-new-log-form
            .nb-dual-grid
                grid-template-columns: repeat(1, 1fr)
            .nb-triple-grid:not(.nb-time-duration-section)
                grid-template-columns: repeat(2, 1fr)
            .nb-quatro-grid
                grid-template-rows: auto auto
                grid-template-columns: repeat(2, 1fr)

    @media all and (max-width: $smartphone_media)
        .nb-new-log-form
            .nb-triple-grid, .nb-quatro-grid, .nb-triple-grid:not(.nb-time-duration-section)
                grid-template-columns: repeat(1, 1fr)
            textarea
                height: 70px


</style>