<template>
    <div class="nb-log-full-background">
        <div class="nb-log-full-view nb-tile">
            <i v-if="log_is_flagged" class="nb-log-flag-indicator animated-fast zoomIn"></i>
            <section class="nb-log-main-detail">
                <div class="nb-log-time-type"></div>
                <div class="nb-log-flight-path-frame">
                    <div class="nb-log-airport-names">
                        <h3 v-once>{{open_log_data.departure_airport}}</h3>
                        <h3 v-once>{{open_log_data.destination_airport}}</h3>
                    </div>
                    <div class="nb-log-flight-chart">
                        <i></i>
                        <span class="nb-log-flight-line">
                            <span class="nb-log-plane-reg-number" v-once>{{open_log_data.aircraft_id}}</span>
                        </span>
                        <i></i>
                    </div>
                    <div class="nb-log-airplane-name" v-once>{{open_log_data.aircraft_name}}</div>
                </div>
            </section>
            <section class="nb-log-detailed-section">
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.flight_log_strings.flight_duration')}}</h4>
                    <span class="nb-log-value" v-once>{{getLogDetail('total_flight_time')}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.date')}}</h4>
                    <span class="nb-log-value">{{open_log_data.takeoff_date | moment("DD/MM/YYYY")}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.landings_amount')}}</h4>
                    <span class="nb-log-value">{{open_log_data.landings_per_flight}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.flight_log_strings.vfr_time')}}</h4>
                    <span class="nb-log-value" v-once>{{getLogDetail('vfr_flight_time')}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.flight_log_strings.ifr_time')}}</h4>
                    <span class="nb-log-value" v-once>{{getLogDetail('ifr_flight_time')}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.flight_log_strings.day_time')}}</h4>
                    <span class="nb-log-value" v-once>{{getLogDetail('day_flight_time')}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.flight_log_strings.night_time')}}</h4>
                    <span class="nb-log-value" v-once>{{getLogDetail('night_flight_time')}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.aircraft_cat')}}</h4>
                    <span class="nb-log-value" v-once>{{$t("message." + this.open_log_data.aircraft_category)}}</span>
                </div>
                <div class="nb-log-fragment">
                    <h4 v-once>{{$t('message.time')}}</h4>
                    <span class="nb-log-value" v-once>{{getLogDetail('aircraft_category_time')}}</span>
                </div>
            </section>
            <section class="nb-log-fragment">
                <h4 v-once>{{$t('message.remarks')}}</h4>
                <span class="nb-log-value" v-once>{{getLogDetail('remarks')}}</span>
            </section>
            <section class="nb-log-full-footer">
                <button class="nb-blue-btn" v-html="$t('message.close')" @click="setVuexOpenLogData(null)" v-once></button>
                <button class="nb-orange-btn" v-html="flag_button_text" @click="toggleFlag()"></button>
                <v-popover offset="6" placement="right-center">
                    <button class="nb-red-btn"
                            v-html="$t('message.flight_log_strings.delete_log')"
                            v-once></button>
                    <template slot="popover">
                        <button class="nb-red-btn" v-close-popover @click="deleteLog()"
                                v-html="$t('message.flight_log_strings.confirm_delete')"></button>
                    </template>
                </v-popover>
            </section>
            <nb-preloader frame-class="nb-preloader-transparent" v-bind:message="preloader_text"
                          v-if="show_preloader"></nb-preloader>
        </div>
    </div>
</template>

<script>
    import {mapState, mapMutations} from 'vuex';
    import Notifications from "../../../../notifications/notifications";

    export default {
        name: "LogFullView",
        data() {
            return {
                show_preloader: false
            }
        },
        methods: {
            ...mapMutations(["setVuexOpenLogData"]),
            /**
             * @param fieldName - name of the field that should supply data for UI section
             * @returns {string}
             * Vlad. 02/12/18
             */
            getLogDetail(fieldName) {
                const field = this.open_log_data[fieldName];
                if (field instanceof Object && (field.hours.length || field.minutes.length)) {
                    return `${field.hours}:${field.minutes}`;
                } else if (field.length) {
                    return field;
                } else {
                    return "-";
                }
            },
            /**
             * This function updates toggles log flag status
             * Vlad. 02/12/18
             */
            toggleFlag() {
                this.show_preloader = true;
                this.logbook_firebase_ref.ref().child(this.open_log_data.key).update({
                    flagged: !this.open_log_data.flagged
                }).then(() => {
                    this.show_preloader = false;
                    this.open_log_data.flagged = !this.open_log_data.flagged;
                    Notifications.showSuccess(this, "Congrats!", this.$t("message.flight_log_strings.flag_changed"));
                });
            },
            /**
             * This function removes log from logbook in Firebase
             * Vlad. 03/12/18
             */
            deleteLog() {
                this.show_preloader = true;
                this.logbook_firebase_ref.ref().child(this.open_log_data.key).remove().then(() => {
                    this.setVuexOpenLogData(null);
                });
            }
        },
        computed: {
            ...mapState(["open_log_data", "logbook_firebase_ref"]),
            flag_button_text: function () {
                return this.open_log_data.flagged ? this.$t('message.flight_log_strings.remove_flag') : this.$t('message.flight_log_strings.add_flag');
            },
            log_is_flagged: function () {
                return this.open_log_data.flagged;
            }
        },
        created() {
            console.log(this.open_log_data);
        }
    }
</script>

<style lang="sass">
    @import "../../../../styles/presets.sass"
    @import "../../../../styles/icons"
    $component_color: $main_blue
    .nb-log-full-background
        position: absolute
        background: rgba(255, 255, 255, 0.95)
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center

    .nb-log-full-view, .nb-log-time-type
        position: relative
        +shadowGenerator(0 1px 3px 0 rgba(0, 0, 0, 0.15))

    .nb-log-full-view
        +setGridAuto(auto, 20px, "rows")
        border-radius: 4px
        width: 80%
        h4
            font-size: $small_font
            color: $very_dark_grey

    .nb-log-flag-indicator
        width: 15px
        height: 15px
        border-radius: 50%
        border: solid 1px $main_orange
        position: absolute
        top: 23px
        left: 23px
        z-index: 1
        +shadowGenerator(0 1px 3px 0 rgba(0, 0, 0, 0.25))
        +addGradient(rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100%)

    .nb-log-main-detail
        align-items: center
        +setGrid(50px 1fr, 20px, null, null, "columns")

    .nb-log-time-type
        width: 50px
        height: 50px
        border-radius: 50%
        border: solid 1px $dark_grey
        +addGradient(rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%, rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%)

    .nb-log-full-footer
        justify-content: flex-start
        +setGrid(repeat(auto-fill, minmax(110px, 1fr)), 10px, auto, 10px, "both")

    .nb-log-flight-path-frame
        +setGrid(null, null, repeat(3, auto), 10px, "rows")
        align-items: center

    .nb-log-flight-chart
        align-items: center
        +setGrid(auto 1fr auto, null, null, null, "columns")
        i
            width: 20px
            height: 20px
            background: $component_color
            border-radius: 50%

    .nb-log-airplane-name
        display: flex
        justify-content: center
        font-size: $very_small_font
        font-weight: bold

    .nb-log-airport-names
        display: flex
        justify-content: space-between
        h3
            font-size: $small_font
            color: $component_color
            font-weight: bold

    .nb-log-flight-line
        position: relative
        height: 2px
        background: $component_color
        &:before
            width: 30px
            height: 30px
            display: flex
            position: absolute
            left: 50%
            top: -14px
            margin: 0 0 0 -15px
            content: ""
            @extend .nb-i-airplane-right
            background: $component_color
        &:after
            content: ""
            position: absolute
            width: 0
            height: 0
            border-top: 5px solid transparent
            border-bottom: 5px solid transparent
            border-left: 12px solid $component_color
            right: 0
            top: 50%
            margin: -5px 0 0 0

    .nb-log-plane-reg-number
        position: absolute
        left: 50%
        bottom: 20px
        font-size: $small_font
        font-weight: bold
        margin: 0 0 0 -25px

    .nb-log-fragment
        +setGrid(null, null, auto auto, 5px, "rows")

    .nb-log-value
        font-size: $regular_font
        display: flex
        align-items: flex-end

    .nb-log-detailed-section
        justify-content: space-between
        +setGridAuto(auto, 10px, "columns")

    @media all and (max-width: $tablet_media)
        .nb-log-detailed-section
            grid-template-rows: auto auto auto
            grid-row-gap: 30px
</style>