<template>
    <div class="nb-logs-list-view">
        <div class="nb-logs-list-toolbar">
            <button class="nb-blue-btn" v-on:click="getPreviousPage()">Prev</button>
            <button class="nb-blue-btn" v-on:click="getNextPage()">Next</button>
        </div>
        <ul class="nb-log-list">
            <li v-bind:class="{'dyn-log-flagged': log.flagged}"
                v-for="log in logsData" v-bind:key="log.uuid"
                @click="setVuexOpenLogData(log)">
                <span>{{log.takeoff_date | moment("DD/MM/YYYY")}}</span>
                <span>{{log.aircraft_name}}</span>
                <span>{{log.aircraft_id}}</span>
                <section class="nb-log-row-airports">
                    <span>{{log.departure_airport}}</span>
                    <div class="nb-log-row-arrow"></div>
                    <span>{{log.destination_airport}}</span>
                </section>
                <span class="nb-log-row-time">{{log.total_flight_time.hours}}:{{log.total_flight_time.minutes}}</span>
            </li>
        </ul>
        <log-view v-if="open_log_data"></log-view>
    </div>
</template>

<script>
    import Authentication from "../../../../firebase/authentication";
    import Cursor from "../../../../firebase/cursor";
    import logView from "../logbook/LogFullView"
    import {Constants} from "../../../../globals/constants";
    import {mapState, mapMutations} from 'vuex';

    export default {
        name: "MyLogs",
        components: {
            logView
        },
        data() {
            return {
                logsData: [],
            }
        },
        created() {
            const self = this;

            Authentication.auth().onAuthStateChanged(() => {
                self.initLogbookDb();
            });
        },
        methods: {
            ...mapMutations(["setVuexOpenLogData"]),
            getNextPage() {
                const self = this;
                this.cursor.next(this.logsData[this.logsData.length - 1].takeoff_date - 1).on("value", function (snap) {
                    self.logsData = self.cursor.operateData(snap);
                });
            },

            getPreviousPage() {
                let self = this;
                this.cursor.previous(this.logsData[0].takeoff_date + 1).on("value", function (snap) {
                    self.logsData = self.cursor.operateData(snap);
                });
            },
            /**
             * This function initiates Logbook results when app is first loaded
             * is available.
             * Vlad. 25/11/18
             */
            initLogbookDb() {
                const self = this;
                this.cursor = new Cursor(this.logbook_firebase_ref, Constants.log_items_limit, "takeoff_date");
                this.cursor.next().on("value", function (snap) {
                    self.logsData = self.cursor.operateData(snap);
                });
            }
        },
        computed: {
            ...mapState(["open_log_data", "logbook_firebase_ref"])
        }
    }
</script>

<style lang="sass">
    @import "../../../../styles/presets.sass"
    .nb-logs-list-view
        position: relative
        overflow: hidden
        +setGrid(null, null, 30px 1fr, 10px, "rows")
        &.nb-logbook-views
            padding: 10px 0 5px 0

        .nb-logs-list-toolbar
            padding-left: 10px

    .nb-log-list-headers, .nb-log-list li
        padding: 0 10px
        font-size: $small_font
        align-content: center
        +setGrid(80px minmax(100px, 1fr) minmax(0, 100px) minmax(0, 250px) minmax(0, 60px), 10px, null, null, "columns")
        span
            +ellipsis()

    .nb-log-row-time
        display: flex
        justify-content: flex-end

    .nb-log-list
        overflow: auto
        li
            border-bottom: solid 1px $dark_grey
            height: 45px
            align-items: center
            cursor: pointer
            &:hover
                background: $light_grey

        .dyn-log-flagged
            background: $light_orange
            &:hover
                background: $hover_orange

    .nb-log-row-airports
        align-items: center
        +setGrid(minmax(42px, auto) minmax(20px, 1fr) minmax(42px, auto), null, null, null, "columns")
        span
            background: $main_blue_dark
            color: white
            padding: 5px 7px
            border-radius: 50%
            font-weight: bold
            display: flex
            justify-content: center
    .nb-log-row-arrow
        height: 2px
        position: relative
        background: $main_blue_dark
        &:after
            content: ""
            position: absolute
            width: 0
            height: 0
            border-top: 5px solid transparent
            border-bottom: 5px solid transparent
            border-left: 12px solid $main_blue_dark
            right: 0
            top: 50%
            margin: -5px 0 0 0
</style>