<template>
    <div id="app">
        <Header/>
        <router-view/>
        <modals-container/>
        <notifications class="nb-app-notifications" group="app-default" position="top left"/>
        <Preloader message="Starting up the engines..." v-if="main_app_spinner"></Preloader>
    </div>
</template>

<script>
    import {Constants} from '@/globals/constants';
    import Authentication from "@/firebase/authentication";
    import Header from "@/components/Header"
    import Preloader from '@/components/ui-components/nb-app-preloader';
    import {mapState, mapMutations} from 'vuex'

    export default {
        components: {
            Header,
            Preloader
        },
        data() {
            return {}
        },
        created: function () {
            this.setVuexAppSpinner(true);
            Authentication.auth().onAuthStateChanged(user => {
                if (user) {
                    this.onLogIn(user);
                } else {
                    this.onLogOut();
                }
            });
        },
        computed: {
            ...mapState(["user_details_firebase_ref", "current_user_type", "main_app_spinner"])
        },
        methods: {
            ...mapMutations([
                "setVuexAppSpinner",
                "setVuexCurrentUserID",
                "setVuexCurrentUserEmail",
                "setVuexCurrentUserName",
                "setVuexCurrentUserType",
                "setVuexUserDetailsReference",
                "setVuexProfileLinks"
            ]),
            onLogIn(user) {
                this.setLoggedUerData(user.uid, user.email, user.displayName);
                this.setVuexUserDetailsReference(user.uid + '/' + Constants.fire_user_details);
                this.setUserType();
                console.log(user);
            },
            onLogOut() {
                this.setLoggedUerData(null, null, null, true);
                this.$router.push("home");
            },
            /**
             * This function updates user details in Vuex data object
             * @param userId - String received from firebase login details
             * @param userEmail - String received from firebase login details
             * @param displayName - String received from firebase login details
             * @param unsetType - is TRUE if user type should be unset
             * Vlad. 22/11/18
             */
            setLoggedUerData(userId, userEmail, displayName, unsetType) {
                this.setVuexCurrentUserID(userId);
                this.setVuexCurrentUserEmail(userEmail);
                this.setVuexCurrentUserName(displayName);
                this.setUserType(unsetType);
            },
            /**
             * This function sets user account type PILOT/COMPANY in Vuex store
             * for app further usage
             * Vlad. 05/12/18
             */
            setUserType(unset) {
                if (unset && this.user_details_firebase_ref) {
                    this.setVuexCurrentUserType(null);
                    this.setUserProfileLinks();
                } else if (this.user_details_firebase_ref) {
                    this.user_details_firebase_ref.ref().once("value", (snap) => {
                        if (snap.val()) {
                            this.setVuexCurrentUserType(snap.val().account_type);
                            this.setUserProfileLinks();
                        }
                    });
                }
            },
            /**
             * This function initiates user profile links once we receive
             * user account type.
             * Vlad. 07/12/18
             */
            setUserProfileLinks() {
                this.current_user_type ? this.setVuexProfileLinks(Constants[this.current_user_type + "_profile_links"]) : this.setVuexProfileLinks(null);
            }
        }
    }
</script>

<style lang="sass">
    @import "/styles/main.sass"
</style>
